#big unnecessary folders
.dropbox
.DS_Store
.vs
/node_modules
offline/node_modules
#unneeded mod inheritance
/website/beepbox_offline.html
/website/jummbox_offline.html
#unsure
/**/*.ts.bak
/**/*.html.bak
#for offline
/build
/to_deploy/
#for deployment
deployFiles.sh
pm2handler.cjs
#for me
/synth/effects_wip
