:root {
    --page-margin: #000;
    --editor-background: #020406;
    --playhead: rgba(255, 255, 255, 0.9);
    --secondary-text: #8e88ce;
    --box-selection-fill: #044b94;
    --loop-accent: #ad38f9;
    --link-accent: #bd25ff;
    --ui-widget-background: #080d1f;
    --ui-widget-focus: #060f2d;
    --pitch-background: #02060b;
    --tonic: #00113a;
    --fifth-note: #1b0019;
    --white-piano-key: #02040c;
    --black-piano-key: #02040c;
    --white-piano-key-text: #fff;
    --use-color-formula: true;
    --track-editor-bg-pitch: #050829;
    --track-editor-bg-pitch-dim: #010213;
    --track-editor-bg-noise: #051529;
    --track-editor-bg-noise-dim: #010b13;
    --track-editor-bg-mod: #150529;
    --track-editor-bg-mod-dim: #0a0113;
    --multiplicative-mod-slider: #2b409c;
    --overwriting-mod-slider: #6850b5;
    --indicator-primary: #7f3bec;
    --indicator-secondary: #213888;
    --select2-opt-group: #1d123c;
    --input-box-outline: #1b1e48;
    --mute-button-normal: #d234b0;
    --mute-button-mod: #263d98;
    --mod-label-primary: #090910;
    --mod-label-secondary-text: rgb(73, 69, 214);
    --mod-label-primary-text: white;
    --pitch-secondary-channel-hue: 183;
    --pitch-secondary-channel-hue-scale: 158.7;
    --pitch-secondary-channel-sat: 83.3;
    --pitch-secondary-channel-sat-scale: 0.1;
    --pitch-secondary-channel-lum: 40;
    --pitch-secondary-channel-lum-scale: 0.05;
    --pitch-primary-channel-hue: 183;
    --pitch-primary-channel-hue-scale: 158.7;
    --pitch-primary-channel-sat: 100;
    --pitch-primary-channel-sat-scale: 0.1;
    --pitch-primary-channel-lum: 67.5;
    --pitch-primary-channel-lum-scale: 0.05;
    --pitch-secondary-note-hue: 183;
    --pitch-secondary-note-hue-scale: 158.7;
    --pitch-secondary-note-sat: 93.9;
    --pitch-secondary-note-sat-scale: 0.1;
    --pitch-secondary-note-lum: 25;
    --pitch-secondary-note-lum-scale: 0.05;
    --pitch-primary-note-hue: 183;
    --pitch-primary-note-hue-scale: 158.7;
    --pitch-primary-note-sat: 100;
    --pitch-primary-note-sat-scale: 0.05;
    --pitch-primary-note-lum: 85.6;
    --pitch-primary-note-lum-scale: 0.025;
    --noise-secondary-channel-hue: 30;
    --noise-secondary-channel-hue-scale: 2;
    --noise-secondary-channel-sat: 25;
    --noise-secondary-channel-sat-scale: 0;
    --noise-secondary-channel-lum: 42;
    --noise-secondary-channel-lum-scale: 0;
    --noise-primary-channel-hue: 30;
    --noise-primary-channel-hue-scale: 2;
    --noise-primary-channel-sat: 33;
    --noise-primary-channel-sat-scale: 0;
    --noise-primary-channel-lum: 63.5;
    --noise-primary-channel-lum-scale: 0;
    --noise-secondary-note-hue: 30;
    --noise-secondary-note-hue-scale: 2;
    --noise-secondary-note-sat: 33.5;
    --noise-secondary-note-sat-scale: 0;
    --noise-secondary-note-lum: 55;
    --noise-secondary-note-lum-scale: 0;
    --noise-primary-note-hue: 30;
    --noise-primary-note-hue-scale: 2;
    --noise-primary-note-sat: 46.5;
    --noise-primary-note-sat-scale: 0;
    --noise-primary-note-lum: 74;
    --noise-primary-note-lum-scale: 0;
    --mod-secondary-channel-hue: 0;
    --mod-secondary-channel-hue-scale: 1.5;
    --mod-secondary-channel-sat: 88;
    --mod-secondary-channel-sat-scale: 0;
    --mod-secondary-channel-lum: 50;
    --mod-secondary-channel-lum-scale: 0;
    --mod-primary-channel-hue: 0;
    --mod-primary-channel-hue-scale: 1.5;
    --mod-primary-channel-sat: 96;
    --mod-primary-channel-sat-scale: 0;
    --mod-primary-channel-lum: 80;
    --mod-primary-channel-lum-scale: 0;
    --mod-secondary-note-hue: 0;
    --mod-secondary-note-hue-scale: 1.5;
    --mod-secondary-note-sat: 92;
    --mod-secondary-note-sat-scale: 0;
    --mod-secondary-note-lum: 45;
    --mod-secondary-note-lum-scale: 0;
    --mod-primary-note-hue: 0;
    --mod-primary-note-hue-scale: 1.5;
    --mod-primary-note-sat: 96;
    --mod-primary-note-sat-scale: 0;
    --mod-primary-note-lum: 85;
    --mod-primary-note-lum-scale: 0;
    --disabled-note-primary: #91879f;
    --disabled-note-secondary: #6a677a;
}