:root {
    --page-margin: #010121;
    --editor-background: #020222;
    --hover-preview: #f3ffff;
    --playhead: #fff;
    --primary-text: #c1f1ff;
    --secondary-text: #546775;
    --box-selection-fill: #3e0028;
    --loop-accent: #5e68fffc;
    --link-accent: #ff3ad5fc;
    --ui-widget-background: #1f2b52;
    --ui-widget-focus: #384e91;
    --pitch-background: #2c3155;
    --tonic: #935175;
    --fifth-note: #1f569f;
    --white-piano-key: #f3f2ff;
    --black-piano-key: #4b4471;
    --white-piano-key-text: #4b4471;
    --track-editor-bg-pitch: #34406c;
    --track-editor-bg-pitch-dim: #121931;
    --track-editor-bg-noise: #562e3b;
    --track-editor-bg-noise-dim: #161313;
    --track-editor-bg-mod: #372e66;
    --track-editor-bg-mod-dim: #2a1640;
    --multiplicative-mod-slider: #606c9f;
    --overwriting-mod-slider: #6850b5;
    --indicator-primary: #ff8bd1;
    --indicator-secondary: #393e4f;
    --select2-opt-group: #5d576f;
    --input-box-outline: #222;
    --mute-button-normal: #7ce1ff;
    --mute-button-mod: #db519d;
    --pitch1-secondary-channel: #329b70;
    --pitch1-primary-channel: #53ffb8;
    --pitch1-secondary-note: #4cb98c;
    --pitch1-primary-note: #98ffd4;
    --pitch2-secondary-channel: #b08e4d;
    --pitch2-primary-channel: #ffe185;
    --pitch2-secondary-note: #91782e;
    --pitch2-primary-note: #ffd968;
    --pitch3-secondary-channel: #018e8e;
    --pitch3-primary-channel: #3de4ff;
    --pitch3-secondary-note: #24b7b7;
    --pitch3-primary-note: #a7ffff;
    --pitch4-secondary-channel: #792354;
    --pitch4-primary-channel: #ff68bd;
    --pitch4-secondary-note: #a73c78;
    --pitch4-primary-note: #ff98d2;
    --pitch5-secondary-channel: #185aab;
    --pitch5-primary-channel: #6493ff;
    --pitch5-secondary-note: #3e99d9;
    --pitch5-primary-note: #b3e3ff;
    --pitch6-secondary-channel: #953C47;
    --pitch6-primary-channel: #FF7888;
    --pitch6-secondary-note: #DF4F60;
    --pitch6-primary-note: #FFB2BB;
    --pitch7-secondary-channel: #4f007d;
    --pitch7-primary-channel: #a54cd9;
    --pitch7-secondary-note: #732b9d;
    --pitch7-primary-note: #d386ff;
    --pitch8-secondary-channel: #323c99;
    --pitch8-primary-channel: #1b61ff;
    --pitch8-secondary-note: #1848b3;
    --pitch8-primary-note: #6f9bff;
    --pitch9-secondary-channel: #1F605A;
    --pitch9-primary-channel: #69FFEA;
    --pitch9-secondary-note: #178076;
    --pitch10-secondary-channel: #6D438C;
    --pitch10-secondary-note: #8040B0;
    --noise1-secondary-channel: #635070;
    --noise1-primary-channel: #9071db;
    --noise1-secondary-note: #915dc1;
    --noise1-primary-note: #c5a5ff;
    --noise2-secondary-channel: #993367;
    --noise2-primary-channel: #dd777c;
    --noise2-secondary-note: #cc6695;
    --noise2-primary-note: #f0bbd1;
    --noise3-secondary-channel: #4a8c8f;
    --noise3-primary-channel: #77c5dd;
    --noise3-secondary-note: #6fb4cf;
    --noise3-primary-note: #bbf2ff;
    --noise4-secondary-channel: #8e3e7d;
    --noise4-primary-channel: #c682d2;
    --noise4-secondary-note: #b871c1;
    --noise4-primary-note: #ffb8f0;
    --noise5-secondary-channel: #785e37;
    --noise5-primary-channel: #bb9d77;
    --noise5-secondary-note: #aa8c66;
    --noise5-primary-note: #e2d1b2;
    --mod1-secondary-channel: #4e8397;
    --mod1-primary-channel: #92e6f3;
    --mod1-secondary-note: #76b9d9;
    --mod1-primary-note: #cde3ff;
    --mod2-secondary-channel: #ad5774;
    --mod2-primary-channel: #eba4ae;
    --mod2-secondary-note: #c9719b;
    --mod2-primary-note: #fdcee7;
    --mod3-secondary-channel: #6f579f;
    --mod3-primary-channel: #b192f7;
    --mod3-secondary-note: #7c3fc8;
    --mod4-secondary-channel: #a88a36;
    --mod4-primary-channel: #bec825;
    --mod4-secondary-note: #aecb57;
    --mod4-primary-note: #dee9bd;
    --mod-label-primary: #2c2c56;
    --mod-label-secondary-text: rgb(71, 69, 147);
    --mod-label-primary-text: white;
    --disabled-note-primary: #91879f;
    --disabled-note-secondary: #6a677a;


}