:root {
    --page-margin: #040410;
    --editor-background: #040410;
    --secondary-text: #84859a;
    --box-selection-fill: #044b94;
    --link-accent: #024ACA;
    --ui-widget-background: #393e4f;
    --ui-widget-focus: #6d6886;
    --pitch-background: #393e4f;
    --tonic: #725491;
    --fifth-note: #54547a;
    --track-editor-bg-pitch: #393e4f;
    --track-editor-bg-pitch-dim: #1c1d28;
    --track-editor-bg-noise: #3d3535;
    --track-editor-bg-noise-dim: #161313;
    --track-editor-bg-mod: #283560;
    --track-editor-bg-mod-dim: #0a101f;
    --multiplicative-mod-slider: #606c9f;
    --overwriting-mod-slider: #6850b5;
    --indicator-primary: #9c64f7;
    --indicator-secondary: #393e4f;
    --select2-opt-group: #5d576f;
    --input-box-outline: #222;
    --mute-button-normal: #886eae;
    --pitch1-secondary-channel: #0A89FF;
    --pitch1-primary-channel: #024ACA;
    --pitch1-secondary-note: #0A89FF;
    --pitch1-primary-note: #024ACA;
    --pitch2-secondary-channel: #0A89FF;
    --pitch2-primary-channel: #024ACA;
    --pitch2-secondary-note: #0A89FF;
    --pitch2-primary-note: #024ACA;
    --pitch3-secondary-channel: #0A89FF;
    --pitch3-primary-channel: #024ACA;
    --pitch3-secondary-note: #0A89FF;
    --pitch3-primary-note: #024ACA;
    --pitch4-secondary-channel: #0A89FF;
    --pitch4-primary-channel: #024ACA;
    --pitch4-secondary-note: #0A89FF;
    --pitch4-primary-note: #024ACA;
    --pitch5-secondary-channel: #0A89FF;
    --pitch5-primary-channel: #024ACA;
    --pitch5-secondary-note: #0A89FF;
    --pitch5-primary-note: #024ACA;
    --pitch6-secondary-channel: #0A89FF;
    --pitch6-primary-channel: #024ACA;
    --pitch6-secondary-note: #0A89FF;
    --pitch6-primary-note: #024ACA;
    --pitch7-secondary-channel: #0A89FF;
    --pitch7-primary-channel: #024ACA;
    --pitch7-secondary-note: #0A89FF;
    --pitch7-primary-note: #024ACA;
    --pitch8-secondary-channel: #0A89FF;
    --pitch8-primary-channel: #024ACA;
    --pitch8-secondary-note: #0A89FF;
    --pitch8-primary-note: #024ACA;
    --pitch9-secondary-channel: #0A89FF;
    --pitch9-primary-channel: #024ACA;
    --pitch9-secondary-note: #0A89FF;
    --pitch9-primary-note: #024ACA;
    --pitch10-secondary-channel: #0A89FF;
    --pitch10-primary-channel: #024ACA;
    --pitch10-secondary-note: #0A89FF;
    --pitch10-primary-note: #024ACA;
    --noise1-secondary-channel: #0A89FF;
    --noise1-primary-channel: #024ACA;
    --noise1-secondary-note: #0A89FF;
    --noise1-primary-note: #024ACA;
    --noise2-secondary-channel: #0A89FF;
    --noise2-primary-channel: #024ACA;
    --noise2-secondary-note: #0A89FF;
    --noise2-primary-note: #024ACA;
    --noise3-secondary-channel: #0A89FF;
    --noise3-primary-channel: #024ACA;
    --noise3-secondary-note: #0A89FF;
    --noise3-primary-note: #024ACA;
    --noise4-secondary-channel: #0A89FF;
    --noise4-primary-channel: #024ACA;
    --noise4-secondary-note: #0A89FF;
    --noise4-primary-note: #024ACA;
    --mod1-secondary-channel: #0A89FF;
    --mod1-primary-channel: #024ACA;
    --mod1-secondary-note: #0A89FF;
    --mod1-primary-note: #024ACA;
    --mod2-secondary-channel: #0A89FF;
    --mod2-primary-channel: #024ACA;
    --mod2-secondary-note: #0A89FF;
    --mod2-primary-note: #024ACA;
    --mod3-secondary-channel: #0A89FF;
    --mod3-primary-channel: #024ACA;
    --mod3-secondary-note: #0A89FF;
    --mod3-primary-note: #024ACA;
    --mod4-secondary-channel: #0A89FF;
    --mod4-primary-channel: #024ACA;
    --mod4-secondary-note: #0A89FF;
    --mod4-primary-note: #024ACA;
    --mod-label-primary: #282840;
    --mod-label-secondary-text: rgb(87, 86, 120);
    --mod-label-primary-text: white;
}