:root {
    --page-margin: #02070D;
    --editor-background: #02070D;
    --primary-text: #9bd1ee;
    --secondary-text: #5a6da8;
    --text-selection: rgb(68 68 255 / 99%);
    --box-selection-fill: rgb(0 0 255 / 30%);
    --loop-accent: #024aca;
    --link-accent: #024aca;
    --ui-widget-background: #161c2e;
    --ui-widget-focus: #262c3e;
    --pitch-background: #22272D;
    --tonic: #1b3056;
    --fifth-note: #344051;
    --white-piano-key: #a6c6ed;
    --black-piano-key: #2f4687;
    --track-editor-bg-pitch: #25284c;
    --track-editor-bg-pitch-dim: #211c26;
    --track-editor-bg-noise: #261f42;
    --track-editor-bg-noise-dim: #1a152d;
    --track-editor-bg-mod: #183049;
    --track-editor-bg-mod-dim: #102132;
    --multiplicative-mod-slider: #344a7f;
    --overwriting-mod-slider: #344a7f;
    --indicator-primary: #024aca;
    --indicator-secondary: #00177d;
    --select2-opt-group: #141e34;
    --input-box-outline: #141e34;
    --mute-button-normal: #273b9d;
    --mute-button-mod: #27989d;
    --pitch1-secondary-channel: hsl(200, 100%, 40%);
    --pitch1-primary-channel: #99ddff;
    --pitch1-secondary-note: hsl(200, 100%, 40%);
    --pitch1-primary-note: #99ddff;
    --pitch2-secondary-channel: hsl(212, 100%, 34%);
    --pitch2-primary-channel: #5BA8FF;
    --pitch2-secondary-note: hsl(212, 100%, 34%);
    --pitch2-primary-note: #5BA8FF;
    --pitch3-secondary-channel: #024ACA;
    --pitch3-primary-channel: #0A89FF;
    --pitch3-secondary-note: #024ACA;
    --pitch3-primary-note: #0A89FF;
    --pitch4-secondary-channel: #00177D;
    --pitch4-primary-channel: #024ACA;
    --pitch4-secondary-note: #00177D;
    --pitch4-primary-note: #024ACA;
    --pitch5-secondary-channel: #000e4e;
    --pitch5-primary-channel: #0023bf;
    --pitch5-secondary-note: #000e4e;
    --pitch5-primary-note: #0023bf;
    --pitch6-secondary-channel: #8990FE;
    --pitch6-primary-channel: #C2C6FF;
    --pitch6-secondary-note: #8990FE;
    --pitch6-primary-note: #C2C6FF;
    --pitch7-secondary-channel: #5E65D3;
    --pitch7-primary-channel: #8990FE;
    --pitch7-secondary-note: #5E65D3;
    --pitch7-primary-note: #8990FE;
    --pitch8-secondary-channel: #3138A6;
    --pitch8-primary-channel: #5E65D3;
    --pitch8-secondary-note: #3138A6;
    --pitch8-primary-note: #5E65D3;
    --pitch9-secondary-channel: #1B0B7F;
    --pitch9-primary-channel: #3138A6;
    --pitch9-secondary-note: #1B0B7F;
    --pitch9-primary-note: #3138A6;
    --pitch10-secondary-channel: #13015D;
    --pitch10-primary-channel: #1c02bd;
    --pitch10-secondary-note: #13015D;
    --pitch10-primary-note: #1c02bd;
    --noise1-secondary-channel: #A675FE;
    --noise1-primary-channel: #E2C9FF;
    --noise1-secondary-note: #A675FE;
    --noise1-primary-note: #E2C9FF;
    --noise2-secondary-channel: #6A31CA;
    --noise2-primary-channel: #A675FE;
    --noise2-secondary-note: #6A31CA;
    --noise2-primary-note: #A675FE;
    --noise3-secondary-channel: #5A1991;
    --noise3-primary-channel: #6A31CA;
    --noise3-secondary-note: #5A1991;
    --noise3-primary-note: #6A31CA;
    --noise4-secondary-channel: #2f1a68;
    --noise4-primary-channel: #5A1991;
    --noise4-secondary-note: #2f1a68;
    --noise4-primary-note: #5A1991;
    --noise5-secondary-channel: #211640;
    --noise5-primary-channel: #391b8d;
    --noise5-secondary-note: #211640;
    --noise5-primary-note: #391b8d;
    --mod1-secondary-channel: #25E2CD;
    --mod1-primary-channel: #BDFFCA;
    --mod1-secondary-note: #25E2CD;
    --mod1-primary-note: #BDFFCA;
    --mod2-secondary-channel: #0A98AC;
    --mod2-primary-channel: #25E2CD;
    --mod2-secondary-note: #0A98AC;
    --mod2-primary-note: #25E2CC;
    --mod3-secondary-channel: #005280;
    --mod3-primary-channel: #0A98AC;
    --mod3-secondary-note: #005280;
    --mod3-primary-note: #0A98AC;
    --mod4-secondary-channel: #0f3670;
    --mod4-primary-channel: #1369c1;
    --mod4-secondary-note: #0f3670;
    --mod4-primary-note: #1369c1;
    --mod-label-primary: #191d26;
    --mod-label-secondary-text: #024aca;
    --mod-label-primary-text: #ffffffa6;
    --disabled-note-primary: #c9c9c9;
    --disabled-note-secondary: #616161;
}