:root {
    --page-margin: #0a0000;
    --editor-background: #0a0000;
    --playhead: rgba(247, 172, 196, 0.9);
    --primary-text: #f5d6bf;
    --secondary-text: #934050;
    --inverted-text: #290505;
    --text-selection: rgba(255, 208, 68, 0.99);
    --box-selection-fill: #94044870;
    --loop-accent: #ff1e1e;
    --link-accent: #da7b76;
    --ui-widget-background: #533137;
    --ui-widget-focus: #743e4b;
    --pitch-background: #4f3939;
    --tonic: #9e4145;
    --fifth-note: #5b3e6b;
    --white-piano-key: #d89898;
    --black-piano-key: #572b29;
    --black-piano-key-text: #ffffff;
    --use-color-formula: true;
    --track-editor-bg-pitch: #5e3a41;
    --track-editor-bg-pitch-dim: #281d1c;
    --track-editor-bg-noise: #3a3551;
    --track-editor-bg-noise-dim: #272732;
    --track-editor-bg-mod: #552045;
    --track-editor-bg-mod-dim: #3e1442;
    --multiplicative-mod-slider: #9f6095;
    --overwriting-mod-slider: #b55050;
    --indicator-primary: #f2f764;
    --indicator-secondary: #4f3939;
    --select2-opt-group: #673030;
    --input-box-outline: #443131;
    --mute-button-normal: #d81833;
    --mute-button-mod: #9e2691;
    --mod-label-primary: #5f2b39;
    --mod-label-secondary-text: rgb(158, 66, 122);
    --mod-label-primary-text: #e6caed;
    --pitch-secondary-channel-hue: 0;
    --pitch-secondary-channel-hue-scale: 11.8;
    --pitch-secondary-channel-sat: 73.3;
    --pitch-secondary-channel-sat-scale: 0.1;
    --pitch-secondary-channel-lum: 40;
    --pitch-secondary-channel-lum-scale: 0.05;
    --pitch-primary-channel-hue: 0;
    --pitch-primary-channel-hue-scale: 11.8;
    --pitch-primary-channel-sat: 90;
    --pitch-primary-channel-sat-scale: 0.1;
    --pitch-primary-channel-lum: 67.5;
    --pitch-primary-channel-lum-scale: 0.05;
    --pitch-secondary-note-hue: 0;
    --pitch-secondary-note-hue-scale: 11.8;
    --pitch-secondary-note-sat: 83.9;
    --pitch-secondary-note-sat-scale: 0.1;
    --pitch-secondary-note-lum: 35;
    --pitch-secondary-note-lum-scale: 0.05;
    --pitch-primary-note-hue: 0;
    --pitch-primary-note-hue-scale: 11.8;
    --pitch-primary-note-sat: 100;
    --pitch-primary-note-sat-scale: 0.05;
    --pitch-primary-note-lum: 85.6;
    --pitch-primary-note-lum-scale: 0.025;
    --noise-secondary-channel-hue: 60;
    --noise-secondary-channel-hue-scale: 2;
    --noise-secondary-channel-sat: 25;
    --noise-secondary-channel-sat-scale: 0;
    --noise-secondary-channel-lum: 42;
    --noise-secondary-channel-lum-scale: 0;
    --noise-primary-channel-hue: 60;
    --noise-primary-channel-hue-scale: 2;
    --noise-primary-channel-sat: 33;
    --noise-primary-channel-sat-scale: 0;
    --noise-primary-channel-lum: 63.5;
    --noise-primary-channel-lum-scale: 0;
    --noise-secondary-note-hue: 60;
    --noise-secondary-note-hue-scale: 2;
    --noise-secondary-note-sat: 33.5;
    --noise-secondary-note-sat-scale: 0;
    --noise-secondary-note-lum: 55;
    --noise-secondary-note-lum-scale: 0;
    --noise-primary-note-hue: 60;
    --noise-primary-note-hue-scale: 2;
    --noise-primary-note-sat: 46.5;
    --noise-primary-note-sat-scale: 0;
    --noise-primary-note-lum: 74;
    --noise-primary-note-lum-scale: 0;
    --mod-secondary-channel-hue: 222;
    --mod-secondary-channel-hue-scale: 1.5;
    --mod-secondary-channel-sat: 88;
    --mod-secondary-channel-sat-scale: 0;
    --mod-secondary-channel-lum: 50;
    --mod-secondary-channel-lum-scale: 0;
    --mod-primary-channel-hue: 222;
    --mod-primary-channel-hue-scale: 1.5;
    --mod-primary-channel-sat: 96;
    --mod-primary-channel-sat-scale: 0;
    --mod-primary-channel-lum: 80;
    --mod-primary-channel-lum-scale: 0;
    --mod-secondary-note-hue: 222;
    --mod-secondary-note-hue-scale: 1.5;
    --mod-secondary-note-sat: 92;
    --mod-secondary-note-sat-scale: 0;
    --mod-secondary-note-lum: 54;
    --mod-secondary-note-lum-scale: 0;
    --mod-primary-note-hue: 222;
    --mod-primary-note-hue-scale: 1.5;
    --mod-primary-note-sat: 96;
    --mod-primary-note-sat-scale: 0;
    --mod-primary-note-lum: 75;
    --mod-primary-note-lum-scale: 0;
    --disabled-note-primary: #515164;
    --disabled-note-secondary: #2a2a3a;
}