:root {
    --page-margin: #0f0700;
    --editor-background: #0f0700;
    --hover-preview: #75461d;
    --playhead: #75461d;
    --primary-text: #ddd;
    --secondary-text: #8e695b;
    --text-selection: #75461d;
    --box-selection-fill: rgba(117, 70, 29, 0.5);
    --loop-accent: #75461d;
    --link-accent: #75461d;
    --ui-widget-background: #574a3e;
    --ui-widget-focus: #756453;
    --pitch-background: #361900;
    --tonic: #fdba9a;
    --fifth-note: #7f78d2;
    --pitch1-secondary-channel: #798566;
    --pitch1-primary-channel: #9dab86;
    --pitch1-secondary-note: #798566;
    --pitch1-primary-note: #9dab86;
    --pitch2-secondary-channel: #a6733d;
    --pitch2-primary-channel: #e6a157;
    --pitch2-secondary-note: #a6733d;
    --pitch2-primary-note: #e6a157;
    --pitch3-secondary-channel: #874c27;
    --pitch3-primary-channel: #eb8242;
    --pitch3-secondary-note: #874c27;
    --pitch3-primary-note: #eb8242;
    --pitch4-secondary-channel: #395866;
    --pitch4-primary-channel: #537d91;
    --pitch4-secondary-note: #395866;
    --pitch4-primary-note: #537d91;
    --pitch5-secondary-channel: #779992;
    --pitch5-primary-channel: #a4d1c8;
    --pitch5-secondary-note: #779992;
    --pitch5-primary-note: #a4d1c8;
    --pitch7-secondary-channel: #300707;
    --pitch7-primary-channel: #560d0d;
    --pitch7-secondary-note: #300707;
    --pitch7-primary-note: #560d0d;
    --pitch8-secondary-channel: #486312;
    --pitch8-primary-channel: #76a21e;
    --pitch8-secondary-note: #486312;
    --pitch8-primary-note: #76a21e;
    --pitch9-secondary-channel: #4a1242;
    --pitch9-primary-channel: #721b65;
    --pitch9-secondary-note: #4a1242;
    --pitch9-primary-note: #721b65;
    --pitch10-secondary-channel: #7a312d;
    --pitch10-primary-channel: #f8615a;
    --pitch10-secondary-note: #7a312d;
    --pitch10-primary-note: #f8615a;
    --noise1-secondary-channel: #5f6582;
    --noise1-primary-channel: #a6b1e1;
    --noise1-secondary-note: #5f6582;
    --noise1-primary-note: #a6b1e1;
    --noise4-secondary-channel: #6B3E8E;
    --noise5-secondary-channel: #996633;
    --noise5-primary-channel: #ddaa77;
    --noise5-secondary-note: #cc9966;
    --noise5-primary-note: #f0d0bb;
    --mod1-secondary-channel: #339955;
}