:root {
    --hover-preview: #ddd;
    --playhead: #ddd;
    --primary-text: #ddd;
    --secondary-text: #8e695b;
    --text-selection: rgba(169, 0, 255, 0.99);
    --box-selection-fill: rgba(221, 221, 221, 0.2);
    --loop-accent: #bf15ba;
    --link-accent: #f888ff;
    --ui-widget-background: #443a3a;
    --pitch-background: #353333;
    --tonic: #884a44;
    --fifth-note: #415498;
    --noise4-secondary-channel: #6B3E8E;
}