:root {
    --page-margin: #0d0063;
    --editor-background: #0D0063;
    --pitch-background: #322c59;
    --tonic: #1c1933;
    --fifth-note: #7b74ad;
    --pitch-channel-limit: 6;
    --noise-channel-limit: 3;
    --pitch1-secondary-channel: #c7ac00;
    --pitch1-primary-channel: #fcf403;
    --pitch1-secondary-note: #c7c700;
    --pitch1-primary-note: #fcf403;
    --pitch2-secondary-channel: #9400b5;
    --pitch2-primary-channel: #ff00ee;
    --pitch2-secondary-note: #9400b5;
    --pitch2-primary-note: #ff00ee;
    --pitch3-secondary-channel: #b37466;
    --pitch3-primary-channel: #ffc6a1;
    --pitch3-secondary-note: #b37466;
    --pitch3-primary-note: #ffc6a1;
    --pitch7-secondary-channel: #c7ac00;
    --pitch7-primary-channel: #fcf403;
    --pitch7-secondary-note: #c7c700;
    --pitch7-primary-note: #fcf403;
    --pitch8-secondary-channel: #9400b5;
    --pitch8-primary-channel: #ff00ee;
    --pitch8-secondary-note: #9400b5;
    --pitch8-primary-note: #ff00ee;
    --pitch9-secondary-channel: #b37466;
    --pitch9-primary-channel: #ffc6a1;
    --pitch9-secondary-note: #b37466;
    --pitch9-primary-note: #ffc6a1;
    --pitch10-secondary-channel: #00a100;
    --pitch10-primary-channel: #50ff50;
    --pitch10-secondary-note: #00c700;
    --pitch10-primary-note: #a0ffa0;
    --noise1-secondary-channel: #95acad;
    --noise1-primary-channel: #cee9eb;
    --noise1-secondary-note: #95acad;
    --noise1-primary-note: #cee9eb;
    --noise4-secondary-channel: #7c9b42;
    --noise4-primary-channel: #a5ff00;
    --noise4-secondary-note: #7c9b42;
    --noise4-primary-note: #a5ff00;
    --noise5-secondary-channel: #7c9b42;
    --mod1-secondary-channel: #c7ac00;
    --mod1-primary-channel: #fcf403;
    --mod1-secondary-note: #c7c700;
    --mod1-primary-note: #fcf403;
    --mod2-secondary-channel: #9400b5;
    --mod2-primary-channel: #ff00ee;
    --mod2-secondary-note: #9400b5;
    --mod2-primary-note: #ff00ee;
    --mod3-secondary-channel: #b37466;
    --mod3-primary-channel: #ffc6a1;
    --mod3-secondary-note: #b37466;
    --mod3-primary-note: #ffc6a1;
    --mod4-secondary-channel: #00a100;
    --mod4-primary-channel: #50ff50;
    --mod4-secondary-note: #00c700;
    --mod4-primary-note: #a0ffa0;
}