:root {
    --page-margin: #000015;
    --editor-background: #000015;
    --hover-preview: #00ffff;
    --playhead: #00ffff;
    --text-selection: rgba(255, 127, 80, 0.99);
    --box-selection-fill: rgba(255, 255, 255, 0.2);
    --loop-accent: #ff00ff;
    --link-accent: #00ffff;
    --ui-widget-background: #222222;
    --ui-widget-focus: #444444;
    --pitch-background: #222222;
    --tonic: #ab382c;
    --fifth-note: #2a76a8;
    --white-piano-key: #ffffff;
    --black-piano-key: #222222;
    --white-piano-key-text: #000000;
    --track-editor-bg-pitch: #222222;
    --track-editor-bg-pitch-dim: #111111;
    --track-editor-bg-noise: #222222;
    --track-editor-bg-noise-dim: #111111;
    --track-editor-bg-mod: #333333;
    --track-editor-bg-mod-dim: #111111;
    --multiplicative-mod-slider: #666666;
    --overwriting-mod-slider: #666666;
    --indicator-primary: #ff00ff;
    --indicator-secondary: #00ffff;
    --select2-opt-group: #333333;
    --input-box-outline: #444444;
    --mute-button-normal: #ff00ff;
    --mute-button-mod: #00ffff;
    --mod-label-primary: #282840;
    --mod-label-secondary-text: rgb(87, 86, 120);
    --mod-label-primary-text: white;
    --pitch1-secondary-channel: #bd9909;
    --pitch1-primary-channel: #fbff8e;
    --pitch1-secondary-note: #c79d3a;
    --pitch1-primary-note: #fdffb2;
    --pitch2-secondary-channel: #b86e0d;
    --pitch2-primary-channel: #ffb28e;
    --pitch2-secondary-note: #ba643a;
    --pitch2-primary-note: #fbac92;
    --pitch3-secondary-channel: #a81b08;
    --pitch3-primary-channel: #f56c67;
    --pitch3-secondary-note: #94352b;
    --pitch3-primary-note: #f56147;
    --pitch4-secondary-channel: #2a7722;
    --pitch4-primary-channel: #6ebf5e;
    --pitch4-secondary-note: #1c5c18;
    --pitch4-primary-note: #88cf82;
    --pitch5-secondary-channel: #8c8b3c;
    --pitch5-primary-channel: #c3c168;
    --pitch5-secondary-note: #747330;
    --pitch5-primary-note: #d4d394;
    --pitch6-secondary-channel: #3f9577;
    --pitch6-primary-channel: #6fc4b4;
    --pitch6-secondary-note: #2c6a5c;
    --pitch6-primary-note: #8fdad0;
    --pitch7-secondary-channel: #204a80;
    --pitch7-primary-channel: #6d9fc2;
    --pitch7-secondary-note: #132f5a;
    --pitch7-primary-note: #9dbed8;
    --pitch8-secondary-channel: #a531ad;
    --pitch8-primary-channel: #db68e3;
    --pitch8-secondary-note: #8d2f94;
    --pitch8-primary-note: #e66cbf;
    --pitch9-secondary-channel: #03a1a1;
    --pitch9-primary-channel: #52fffb;
    --pitch9-secondary-note: #34baba;
    --pitch9-primary-note: #60fbfb;
    --pitch10-secondary-channel: #4208a1;
    --pitch10-primary-channel: #9282ff;
    --pitch10-secondary-note: #5735b5;
    --pitch10-primary-note: #ab52fb;
    --noise1-secondary-channel: #2a5555;
    --noise1-primary-channel: #4c7878;
    --noise1-secondary-note: #6e9a9a;
    --noise1-primary-note: #90bcbc;
    --noise2-secondary-channel: #553355;
    --noise2-primary-channel: #775577;
    --noise2-secondary-note: #997799;
    --noise2-primary-note: #bbaa99;
    --noise3-secondary-channel: #2a6622;
    --noise3-primary-channel: #4c8844;
    --noise3-secondary-note: #6eaa66;
    --noise3-primary-note: #90cc88;
    --noise4-secondary-channel: #664400;
    --noise4-primary-channel: #886600;
    --noise4-secondary-note: #aa8800;
    --noise4-primary-note: #cccc00;
    --noise5-secondary-channel: #006633;
    --noise5-primary-channel: #008855;
    --noise5-secondary-note: #00aa77;
    --noise5-primary-note: #00cc99;
    --mod1-secondary-channel: #fe00ff;
    --mod1-primary-channel: #ff72ff;
    --mod1-secondary-note: #ff92ff;
    --mod1-primary-note: #ffb2fb;
    --mod2-secondary-channel: #00fe00;
    --mod2-primary-channel: #8eff8e;
    --mod2-secondary-note: #92ff92;
    --mod2-primary-note: #b2ffb2;
    --mod3-secondary-channel: #feff00;
    --mod3-primary-channel: #fffb8e;
    --mod3-secondary-note: #fffd92;
    --mod3-primary-note: #fffe92;
    --mod4-secondary-channel: #00fffe;
    --mod4-primary-channel: #82fffb;
    --mod4-secondary-note: #92ffff;
    --mod4-primary-note: #b2fffb;
    --disabled-note-primary: #c6c6c6;
    --disabled-note-secondary: #8c8c8c;
    --note-flash: #ffffff;
    --note-flash-secondary: #ffffff77;
}