:root {
    --page-margin: #0d0063;
    --editor-background: #0D0063;
    --pitch-background: #322c59;
    --tonic: #1c1933;
    --fifth-note: #7b74ad;
    --pitch1-secondary-channel: #c7ac00;
    --pitch1-primary-channel: #fcf403;
    --pitch1-secondary-note: #c7c700;
    --pitch1-primary-note: #fcf403;
    --pitch2-secondary-channel: #9400b5;
    --pitch2-primary-channel: #ff00ee;
    --pitch2-secondary-note: #9400b5;
    --pitch2-primary-note: #ff00ee;
    --pitch3-secondary-channel: #b37466;
    --pitch3-primary-channel: #ffc6a1;
    --pitch3-secondary-note: #b37466;
    --pitch3-primary-note: #ffc6a1;
    --noise1-secondary-channel: #95acad;
    --noise1-primary-channel: #cee9eb;
    --noise1-secondary-note: #95acad;
    --noise1-primary-note: #cee9eb;
}