:root {
    --page-margin: #010c03;
    --editor-background: #010c03;
    --hover-preview: #efe;
    --playhead: rgba(232, 255, 232, 0.9);
    --primary-text: #efe;
    --secondary-text: #70A070;
    --inverted-text: #280228;
    --text-selection: rgba(255, 68, 199, 0.99);
    --box-selection-fill: #267aa3;
    --loop-accent: #ffe845;
    --link-accent: #9f8;
    --ui-widget-background: #203829;
    --ui-widget-focus: #487860;
    --pitch-background: #203829;
    --tonic: #2b8d20;
    --fifth-note: #385840;
    --white-piano-key: #bda;
    --black-piano-key: #573;
    --black-piano-key-text: #ffffff;
    --use-color-formula: true;
    --track-editor-bg-pitch: #254820;
    --track-editor-bg-pitch-dim: #102819;
    --track-editor-bg-noise: #304050;
    --track-editor-bg-noise-dim: #102030;
    --track-editor-bg-mod: #506030;
    --track-editor-bg-mod-dim: #2a300a;
    --multiplicative-mod-slider: #205c8f;
    --overwriting-mod-slider: #20ac6f;
    --indicator-primary: #dcd866;
    --indicator-secondary: #203829;
    --select2-opt-group: #1a6f5a;
    --input-box-outline: #242;
    --mute-button-normal: #49e980;
    --mute-button-mod: #c2e502;
    --mod-label-primary: #133613;
    --mod-label-secondary-text: rgb(27, 126, 40);
    --mod-label-primary-text: #efe;
    --pitch-secondary-channel-hue: 120;
    --pitch-secondary-channel-hue-scale: 8.1;
    --pitch-secondary-channel-sat: 59;
    --pitch-secondary-channel-sat-scale: 0.1;
    --pitch-secondary-channel-lum: 50;
    --pitch-secondary-channel-lum-scale: 0.04;
    --pitch-primary-channel-hue: 120;
    --pitch-primary-channel-hue-scale: 8.1;
    --pitch-primary-channel-sat: 86;
    --pitch-primary-channel-sat-scale: 0.1;
    --pitch-primary-channel-lum: 70;
    --pitch-primary-channel-lum-scale: 0.04;
    --pitch-secondary-note-hue: 120;
    --pitch-secondary-note-hue-scale: 8.1;
    --pitch-secondary-note-sat: 85;
    --pitch-secondary-note-sat-scale: 0.1;
    --pitch-secondary-note-lum: 30;
    --pitch-secondary-note-lum-scale: 0.04;
    --pitch-primary-note-hue: 120;
    --pitch-primary-note-hue-scale: 8.1;
    --pitch-primary-note-sat: 90;
    --pitch-primary-note-sat-scale: 0.05;
    --pitch-primary-note-lum: 80;
    --pitch-primary-note-lum-scale: 0.025;
    --noise-secondary-channel-hue: 200;
    --noise-secondary-channel-hue-scale: 1.1;
    --noise-secondary-channel-sat: 25;
    --noise-secondary-channel-sat-scale: 0;
    --noise-secondary-channel-lum: 22;
    --noise-secondary-channel-lum-scale: 0;
    --noise-primary-channel-hue: 200;
    --noise-primary-channel-hue-scale: 1.1;
    --noise-primary-channel-sat: 48;
    --noise-primary-channel-sat-scale: 0;
    --noise-primary-channel-lum: 65;
    --noise-primary-channel-lum-scale: 0;
    --noise-secondary-note-hue: 200;
    --noise-secondary-note-hue-scale: 1.1;
    --noise-secondary-note-sat: 33.5;
    --noise-secondary-note-sat-scale: 0;
    --noise-secondary-note-lum: 33;
    --noise-secondary-note-lum-scale: 0;
    --noise-primary-note-hue: 200;
    --noise-primary-note-hue-scale: 1.1;
    --noise-primary-note-sat: 46.5;
    --noise-primary-note-sat-scale: 0;
    --noise-primary-note-lum: 64;
    --noise-primary-note-lum-scale: 0;
    --mod-secondary-channel-hue: 40;
    --mod-secondary-channel-hue-scale: 1.8;
    --mod-secondary-channel-sat: 44;
    --mod-secondary-channel-sat-scale: 0;
    --mod-secondary-channel-lum: 50;
    --mod-secondary-channel-lum-scale: 0;
    --mod-primary-channel-hue: 40;
    --mod-primary-channel-hue-scale: 1.8;
    --mod-primary-channel-sat: 60;
    --mod-primary-channel-sat-scale: 0;
    --mod-primary-channel-lum: 80;
    --mod-primary-channel-lum-scale: 0;
    --mod-secondary-note-hue: 40;
    --mod-secondary-note-hue-scale: 1.8;
    --mod-secondary-note-sat: 62;
    --mod-secondary-note-sat-scale: 0;
    --mod-secondary-note-lum: 55;
    --mod-secondary-note-lum-scale: 0;
    --mod-primary-note-hue: 40;
    --mod-primary-note-hue-scale: 1.8;
    --mod-primary-note-sat: 66;
    --mod-primary-note-sat-scale: 0;
    --mod-primary-note-lum: 85;
    --mod-primary-note-lum-scale: 0;
    --disabled-note-primary: #536e5c;
    --disabled-note-secondary: #395440;
}