:root {
    --page-margin: #0c0306;
    --editor-background: #0c0306;
    --primary-text: #26d9cd;
    --secondary-text: #ff6666;
    --inverted-text: white;
    --text-selection: #ffffff;
    --box-selection-fill: #ff00004d;
    --loop-accent: #ff6666;
    --link-accent: white;
    --ui-widget-background: #232323;
    --ui-widget-focus: #303030;
    --pitch-background: hsl(61deg 100% 70% / 25%);
    --tonic: #66a3ff40;
    --fifth-note: #ff666640;
    --white-piano-key: #cdcdcd;
    --black-piano-key: #232323;
    --track-editor-bg-pitch: #404040bf;
    --track-editor-bg-pitch-dim: #151515;
    --track-editor-bg-noise: #404040bf;
    --track-editor-bg-noise-dim: #151515;
    --track-editor-bg-mod: #404040bf;
    --track-editor-bg-mod-dim: #151515;
    --multiplicative-mod-slider: #ef7692;
    --overwriting-mod-slider: #f43e69;
    --indicator-primary: #26d9cd;
    --indicator-secondary: hsl(176deg 70% 25%);
    --select2-opt-group: #232323;
    --input-box-outline: #141e34;
    --mute-button-normal: #26d9cd;
    --mute-button-mod: hsl(346deg 70% 50%);
    --pitch1-secondary-channel: #bf4040;
    --pitch1-primary-channel: #ff6666;
    --pitch1-secondary-note: #bf4040;
    --pitch1-primary-note: #ff6666;
    --pitch2-secondary-channel: #bf5b40;
    --pitch2-primary-channel: #ff8766;
    --pitch2-secondary-note: #bf5b40;
    --pitch2-primary-note: #ff8766;
    --pitch3-secondary-channel: #bf7940;
    --pitch3-primary-channel: #ffab66;
    --pitch3-secondary-note: #bf7940;
    --pitch3-primary-note: #ffab66;
    --pitch4-secondary-channel: #bf9b40;
    --pitch4-primary-channel: #ffd466;
    --pitch4-secondary-note: #bf9b40;
    --pitch4-primary-note: #ffd466;
    --pitch5-secondary-channel: #bdbf40;
    --pitch5-primary-channel: #fcff66;
    --pitch5-secondary-note: #bdbf40;
    --pitch5-primary-note: #fcff66;
    --pitch6-secondary-channel: #9dbf40;
    --pitch6-primary-channel: #d6ff66;
    --pitch6-secondary-note: #9dbf40;
    --pitch6-primary-note: #d6ff66;
    --pitch7-secondary-channel: #9dbf40;
    --pitch7-primary-channel: #fcff66;
    --pitch7-secondary-note: #9dbf40;
    --pitch7-primary-note: #fcff66;
    --pitch8-secondary-channel: #bf9b40;
    --pitch8-primary-channel: #ffd466;
    --pitch8-secondary-note: #bf9b40;
    --pitch8-primary-note: #ffd466;
    --pitch9-secondary-channel: #bf5b40;
    --pitch9-primary-channel: #ffab66;
    --pitch9-secondary-note: #bf5b40;
    --pitch9-primary-note: #ffab66;
    --pitch10-secondary-channel: #d15a1f;
    --pitch10-primary-channel: #ff8766;
    --pitch10-secondary-note: #d15a1f;
    --pitch10-primary-note: #ff8766;
    --noise1-secondary-channel: #4073bf;
    --noise1-primary-channel: #66a3ff;
    --noise1-secondary-note: #4073bf;
    --noise1-primary-note: #66a3ff;
    --noise2-secondary-channel: #405dbf;
    --noise2-primary-channel: #668aff;
    --noise2-secondary-note: #405dbf;
    --noise2-primary-note: #668aff;
    --noise3-secondary-channel: #4f40bf;
    --noise3-primary-channel: #7866ff;
    --noise3-secondary-note: #4f40bf;
    --noise3-primary-note: #7866ff;
    --noise4-secondary-channel: #8840bf;
    --noise4-primary-channel: #bd66ff;
    --noise4-secondary-note: #8840bf;
    --noise4-primary-note: #bd66ff;
    --noise5-secondary-channel: #bf40b5;
    --noise5-primary-channel: #ff66f2;
    --noise5-secondary-note: #bf40b5;
    --noise5-primary-note: #ff66f2;
    --mod1-secondary-channel: #cc6666;
    --mod1-primary-channel: #ff9999;
    --mod1-secondary-note: #cc6666;
    --mod1-primary-note: #ff9999;
    --mod2-secondary-channel: #cc7766;
    --mod2-primary-channel: #ffaa99;
    --mod2-secondary-note: #bf5540;
    --mod2-primary-note: #ffaa99;
    --mod3-secondary-channel: #cc8866;
    --mod3-primary-channel: #ffbb99;
    --mod3-secondary-note: #cc8866;
    --mod3-primary-note: #ffbb99;
    --mod4-secondary-channel: #cc9966;
    --mod4-primary-channel: #ffcc99;
    --mod4-secondary-note: #cc9966;
    --mod4-primary-note: #ffcc99;
    --disabled-note-primary: #696969;
    --disabled-note-secondary: #232323;
}