:root {
    --page-margin: #000;
    --editor-background: #000;
    --hover-preview: #808080;
    --playhead: #808080;
    --primary-text: white;
    --secondary-text: #cccccc;
    --inverted-text: black;
    --text-selection: #696969;
    --box-selection-fill: #cccccc40;
    --loop-accent: #808080;
    --link-accent: white;
    --ui-widget-background: #232323;
    --ui-widget-focus: #303030;
    --pitch-background: #1a1a1a;
    --tonic: #262626;
    --fifth-note: #0d0d0d;
    --white-piano-key: #808080;
    --black-piano-key: #232323;
    --use-color-formula: true;
    --track-editor-bg-pitch: #262626;
    --track-editor-bg-pitch-dim: #1a1a1a;
    --track-editor-bg-noise: #262626;
    --track-editor-bg-noise-dim: #1a1a1a;
    --track-editor-bg-mod: #262626;
    --track-editor-bg-mod-dim: #1a1a1a;
    --multiplicative-mod-slider: #808080;
    --overwriting-mod-slider: #808080;
    --indicator-primary: #808080;
    --indicator-secondary: #333333;
    --select2-opt-group: #232323;
    --input-box-outline: #222;
    --mute-button-normal: #808080;
    --mute-button-mod: #808080;
    --mod-label-primary: #232323;
    --mod-label-secondary-text: #696969;
    --mod-label-primary-text: #cdcdcd;
    --pitch-secondary-channel-hue: 0;
    --pitch-secondary-channel-hue-scale: 25;
    --pitch-secondary-channel-sat: 10;
    --pitch-secondary-channel-sat-scale: 0.1;
    --pitch-secondary-channel-lum: 70;
    --pitch-secondary-channel-lum-scale: 0;
    --pitch-primary-channel-hue: 0;
    --pitch-primary-channel-hue-scale: 25;
    --pitch-primary-channel-sat: 50;
    --pitch-primary-channel-sat-scale: 0.1;
    --pitch-primary-channel-lum: 95;
    --pitch-primary-channel-lum-scale: 0;
    --pitch-secondary-note-hue: 0;
    --pitch-secondary-note-hue-scale: 25;
    --pitch-secondary-note-sat: 10;
    --pitch-secondary-note-sat-scale: 0.1;
    --pitch-secondary-note-lum: 70;
    --pitch-secondary-note-lum-scale: 0;
    --pitch-primary-note-hue: 0;
    --pitch-primary-note-hue-scale: 25;
    --pitch-primary-note-sat: 50;
    --pitch-primary-note-sat-scale: 0.1;
    --pitch-primary-note-lum: 95;
    --pitch-primary-note-lum-scale: 0;
    --noise-secondary-channel-hue: 125;
    --noise-secondary-channel-hue-scale: 50;
    --noise-secondary-channel-sat: 10;
    --noise-secondary-channel-sat-scale: 0.1;
    --noise-secondary-channel-lum: 70;
    --noise-secondary-channel-lum-scale: 0;
    --noise-primary-channel-hue: 125;
    --noise-primary-channel-hue-scale: 50;
    --noise-primary-channel-sat: 50;
    --noise-primary-channel-sat-scale: 0.1;
    --noise-primary-channel-lum: 95;
    --noise-primary-channel-lum-scale: 0;
    --noise-secondary-note-hue: 125;
    --noise-secondary-note-hue-scale: 50;
    --noise-secondary-note-sat: 10;
    --noise-secondary-note-sat-scale: 0.1;
    --noise-secondary-note-lum: 70;
    --noise-secondary-note-lum-scale: 0;
    --noise-primary-note-hue: 125;
    --noise-primary-note-hue-scale: 50;
    --noise-primary-note-sat: 50;
    --noise-primary-note-sat-scale: 0.1;
    --noise-primary-note-lum: 95;
    --noise-primary-note-lum-scale: 0;
    --mod-secondary-channel-hue: 255;
    --mod-secondary-channel-hue-scale: 75;
    --mod-secondary-channel-sat: 10;
    --mod-secondary-channel-sat-scale: 0;
    --mod-secondary-channel-lum: 70;
    --mod-secondary-channel-lum-scale: 0;
    --mod-primary-channel-hue: 255;
    --mod-primary-channel-hue-scale: 75;
    --mod-primary-channel-sat: 50;
    --mod-primary-channel-sat-scale: 0;
    --mod-primary-channel-lum: 95;
    --mod-primary-channel-lum-scale: 0;
    --mod-secondary-note-hue: 255;
    --mod-secondary-note-hue-scale: 75;
    --mod-secondary-note-sat: 10;
    --mod-secondary-note-sat-scale: 0;
    --mod-secondary-note-lum: 70;
    --mod-secondary-note-lum-scale: 0;
    --mod-primary-note-hue: 255;
    --mod-primary-note-hue-scale: 75;
    --mod-primary-note-sat: 50;
    --mod-primary-note-sat-scale: 0;
    --mod-primary-note-lum: 95;
    --mod-primary-note-lum-scale: 0;
    --disabled-note-primary: #c6c6c6;
    --disabled-note-secondary: #8c8c8c;
}