:root {
    --page-margin: #c4c8e3;
    --editor-background: #c4c8e3;
    --hover-preview: #000000;
    --playhead: #243953;
    --primary-text: black;
    --secondary-text: #855b95;
    --text-selection: rgb(132 125 255);
    --box-selection-fill: rgb(174 109 73 / 65%);
    --loop-accent: #EC897D;
    --link-accent: #4e00c8;
    --ui-widget-background: #e7e7ff;
    --ui-widget-focus: #d0d3e9;
    --pitch-background: #ffffff;
    --tonic: #bbbbbb;
    --fifth-note: #dcdcdc;
    --white-piano-key: #ffffff;
    --black-piano-key: #615f66;
    --track-editor-bg-pitch: #e9ebff;
    --track-editor-bg-pitch-dim: #e9ebff;
    --track-editor-bg-noise: #fdf2fe;
    --track-editor-bg-noise-dim: #fdf2fe;
    --track-editor-bg-mod: #dbdefe;
    --track-editor-bg-mod-dim: #dbdefe;
    --multiplicative-mod-slider: #6900b3;
    --overwriting-mod-slider: #004b9d;
    --indicator-primary: #ff633d;
    --indicator-secondary: #933822;
    --select2-opt-group: #e7e7ff;
    --input-box-outline: #e7e7ff;
    --mute-button-normal: #0072ef;
    --mute-button-mod: #002e67;
    --pitch1-secondary-channel: #b77d6e;
    --pitch1-primary-channel: #ff9d85;
    --pitch1-secondary-note: #b77d6e;
    --pitch1-primary-note: #ff9d85;
    --pitch2-secondary-channel: #be8821;
    --pitch2-primary-channel: #FFAF12;
    --pitch2-secondary-note: #be8821;
    --pitch2-primary-note: #FFAF12;
    --pitch3-secondary-channel: #3a62a4;
    --pitch3-primary-channel: #528ae6;
    --pitch3-secondary-note: #3a62a4;
    --pitch3-primary-note: #528ae6;
    --pitch4-secondary-channel: #3e8d78;
    --pitch4-primary-channel: #4EC5A7;
    --pitch4-secondary-note: #3e8d78;
    --pitch4-primary-note: #4EC5A7;
    --pitch5-secondary-channel: #84906d;
    --pitch5-primary-channel: #aabf84;
    --pitch5-secondary-note: #84906d;
    --pitch5-primary-note: #aabf84;
    --pitch6-secondary-channel: #bd6345;
    --pitch6-primary-channel: #e59a81;
    --pitch6-secondary-note: #bd6345;
    --pitch6-primary-note: #e59a81;
    --pitch7-secondary-channel: #aa592f;
    --pitch7-primary-channel: #FE813E;
    --pitch7-secondary-note: #aa592f;
    --pitch7-primary-note: #FE813E;
    --pitch8-secondary-channel: #b2a171;
    --pitch8-primary-channel: #ffd76d;
    --pitch8-secondary-note: #b2a171;
    --pitch8-primary-note: #ffd76d;
    --pitch9-secondary-channel: #4f6177;
    --pitch9-primary-channel: #798FA7;
    --pitch9-secondary-note: #4f6177;
    --pitch9-primary-note: #798FA7;
    --pitch10-secondary-channel: #165162;
    --pitch10-primary-channel: #107895;
    --pitch10-secondary-note: #165162;
    --pitch10-primary-note: #107895;
    --noise1-secondary-channel: #71617C;
    --noise1-primary-channel: #977da9;
    --noise1-secondary-note: #71617C;
    --noise1-primary-note: #977da9;
    --noise2-secondary-channel: #4a4c5b;
    --noise2-primary-channel: #707591;
    --noise2-secondary-note: #4a4c5b;
    --noise2-primary-note: #707591;
    --noise3-secondary-channel: #817c7b;
    --noise3-primary-channel: #A19D9C;
    --noise3-secondary-note: #817c7b;
    --noise3-primary-note: #A19D9C;
    --noise4-secondary-channel: #ab847b;
    --noise4-primary-channel: #EAAC9D;
    --noise4-secondary-note: #ab847b;
    --noise4-primary-note: #EAAC9D;
    --noise5-secondary-channel: #B49D74;
    --noise5-primary-channel: #dec69b;
    --noise5-secondary-note: #B49D74;
    --noise5-primary-note: #dec69b;
    --mod1-secondary-channel: #722124;
    --mod1-primary-channel: #D13A41;
    --mod1-secondary-note: #722124;
    --mod1-primary-note: #D13A41;
    --mod2-secondary-channel: #213657;
    --mod2-primary-channel: #34558B;
    --mod2-secondary-note: #213657;
    --mod2-primary-note: #34558B;
    --mod3-secondary-channel: #555D46;
    --mod3-primary-channel: #848f6d;
    --mod3-secondary-note: #555D46;
    --mod3-primary-note: #848f6d;
    --mod4-secondary-channel: #71617C;
    --mod4-primary-channel: #a68ab9;
    --mod4-secondary-note: #71617C;
    --mod4-primary-note: #a68ab9;
    --mod-label-primary: #e9e9e9;
    --mod-label-secondary-text: #707070;
    --disabled-note-primary: #959595;
    --disabled-note-secondary: #6e6e6e;
}