:root {
    --page-margin: #040410;
    --editor-background: #040410;
    --playhead: rgba(255, 255, 255, 0.9);
    --secondary-text: #84859a;
    --box-selection-fill: #044b94;
    --ui-widget-background: #393e4f;
    --ui-widget-focus: #6d6886;
    --pitch-background: #393e4f;
    --tonic: #725491;
    --fifth-note: #54547a;
    --white-piano-key: #eee;
    --black-piano-key: #666;
    --use-color-formula: true;
    --track-editor-bg-pitch: #393e4f;
    --track-editor-bg-pitch-dim: #1c1d28;
    --track-editor-bg-noise: #3d3535;
    --track-editor-bg-noise-dim: #161313;
    --track-editor-bg-mod: #283560;
    --track-editor-bg-mod-dim: #0a101f;
    --multiplicative-mod-slider: #606c9f;
    --overwriting-mod-slider: #6850b5;
    --indicator-primary: #9c64f7;
    --indicator-secondary: #393e4f;
    --select2-opt-group: #5d576f;
    --input-box-outline: #222;
    --mute-button-normal: #dda85d;
    --mute-button-mod: #886eae;
    --mod-label-primary: #282840;
    --mod-label-secondary-text: rgb(87, 86, 120);
    --mod-label-primary-text: white;
    --pitch-secondary-channel-hue: 0;
    --pitch-secondary-channel-hue-scale: 6.5;
    --pitch-secondary-channel-sat: 83.3;
    --pitch-secondary-channel-sat-scale: 0.1;
    --pitch-secondary-channel-lum: 40;
    --pitch-secondary-channel-lum-scale: 0.05;
    --pitch-primary-channel-hue: 0;
    --pitch-primary-channel-hue-scale: 6.5;
    --pitch-primary-channel-sat: 100;
    --pitch-primary-channel-sat-scale: 0.1;
    --pitch-primary-channel-lum: 67.5;
    --pitch-primary-channel-lum-scale: 0.05;
    --pitch-secondary-note-hue: 0;
    --pitch-secondary-note-hue-scale: 6.5;
    --pitch-secondary-note-sat: 93.9;
    --pitch-secondary-note-sat-scale: 0.1;
    --pitch-secondary-note-lum: 25;
    --pitch-secondary-note-lum-scale: 0.05;
    --pitch-primary-note-hue: 0;
    --pitch-primary-note-hue-scale: 6.5;
    --pitch-primary-note-sat: 100;
    --pitch-primary-note-sat-scale: 0.05;
    --pitch-primary-note-lum: 85.6;
    --pitch-primary-note-lum-scale: 0.025;
    --noise-secondary-channel-hue: 0;
    --noise-secondary-channel-hue-scale: 2;
    --noise-secondary-channel-sat: 25;
    --noise-secondary-channel-sat-scale: 0;
    --noise-secondary-channel-lum: 42;
    --noise-secondary-channel-lum-scale: 0;
    --noise-primary-channel-hue: 0;
    --noise-primary-channel-hue-scale: 2;
    --noise-primary-channel-sat: 33;
    --noise-primary-channel-sat-scale: 0;
    --noise-primary-channel-lum: 63.5;
    --noise-primary-channel-lum-scale: 0;
    --noise-secondary-note-hue: 0;
    --noise-secondary-note-hue-scale: 2;
    --noise-secondary-note-sat: 33.5;
    --noise-secondary-note-sat-scale: 0;
    --noise-secondary-note-lum: 55;
    --noise-secondary-note-lum-scale: 0;
    --noise-primary-note-hue: 0;
    --noise-primary-note-hue-scale: 2;
    --noise-primary-note-sat: 46.5;
    --noise-primary-note-sat-scale: 0;
    --noise-primary-note-lum: 74;
    --noise-primary-note-lum-scale: 0;
    --mod-secondary-channel-hue: 192;
    --mod-secondary-channel-hue-scale: 1.5;
    --mod-secondary-channel-sat: 88;
    --mod-secondary-channel-sat-scale: 0;
    --mod-secondary-channel-lum: 50;
    --mod-secondary-channel-lum-scale: 0;
    --mod-primary-channel-hue: 192;
    --mod-primary-channel-hue-scale: 1.5;
    --mod-primary-channel-sat: 96;
    --mod-primary-channel-sat-scale: 0;
    --mod-primary-channel-lum: 80;
    --mod-primary-channel-lum-scale: 0;
    --mod-secondary-note-hue: 192;
    --mod-secondary-note-hue-scale: 1.5;
    --mod-secondary-note-sat: 92;
    --mod-secondary-note-sat-scale: 0;
    --mod-secondary-note-lum: 45;
    --mod-secondary-note-lum-scale: 0;
    --mod-primary-note-hue: 192;
    --mod-primary-note-hue-scale: 1.5;
    --mod-primary-note-sat: 96;
    --mod-primary-note-sat-scale: 0;
    --mod-primary-note-lum: 85;
    --mod-primary-note-lum-scale: 0;
    --disabled-note-primary: #91879f;
    --disabled-note-secondary: #6a677a;
}