:root {
    --page-margin: #000000;
    --editor-background: #000000;
    --playhead: rgba(255, 255, 255, 0.9);
    --secondary-text: #93B6AD;
    --text-selection: rgba(47, 255, 250, 0.99);
    --box-selection-fill: #03B068;
    --loop-accent: #FF0061;
    --link-accent: #FFC800;
    --ui-widget-background: #38554E;
    --ui-widget-focus: #2A7E69;
    --pitch-background: #281F23;
    --tonic: #004634;
    --fifth-note: #463400;
    --white-piano-key: #edc;
    --black-piano-key: #456;
    --use-color-formula: true;
    --track-editor-bg-pitch: #333333;
    --track-editor-bg-pitch-dim: #000000;
    --track-editor-bg-noise: #463400;
    --track-editor-bg-noise-dim: #000000;
    --track-editor-bg-mod: #004634;
    --track-editor-bg-mod-dim: #000000;
    --multiplicative-mod-slider: #FFC800;
    --overwriting-mod-slider: #00ffc0;
    --indicator-primary: #00ffc0;
    --indicator-secondary: #333333;
    --select2-opt-group: #2B2B2B;
    --input-box-outline: #69BFC6;
    --mute-button-normal: #00ffc0;
    --mute-button-mod: #FFC800;
    --mod-label-primary: #38554E;
    --mod-label-secondary-text: rgb(0, 43, 45);
    --mod-label-primary-text: white;
    --pitch-secondary-channel-hue: 0;
    --pitch-secondary-channel-hue-scale: 6.1;
    --pitch-secondary-channel-sat: 83.3;
    --pitch-secondary-channel-sat-scale: 0.1;
    --pitch-secondary-channel-lum: 40;
    --pitch-secondary-channel-lum-scale: 0.05;
    --pitch-primary-channel-hue: 0;
    --pitch-primary-channel-hue-scale: 6.1;
    --pitch-primary-channel-sat: 100;
    --pitch-primary-channel-sat-scale: 0.1;
    --pitch-primary-channel-lum: 67.5;
    --pitch-primary-channel-lum-scale: 0.05;
    --pitch-secondary-note-hue: 0;
    --pitch-secondary-note-hue-scale: 6.1;
    --pitch-secondary-note-sat: 93.9;
    --pitch-secondary-note-sat-scale: 0.1;
    --pitch-secondary-note-lum: 25;
    --pitch-secondary-note-lum-scale: 0.05;
    --pitch-primary-note-hue: 0;
    --pitch-primary-note-hue-scale: 6.1;
    --pitch-primary-note-sat: 100;
    --pitch-primary-note-sat-scale: 0.05;
    --pitch-primary-note-lum: 85.6;
    --pitch-primary-note-lum-scale: 0.025;
    --noise-secondary-channel-hue: 0;
    --noise-secondary-channel-hue-scale: 2;
    --noise-secondary-channel-sat: 25;
    --noise-secondary-channel-sat-scale: 0;
    --noise-secondary-channel-lum: 42;
    --noise-secondary-channel-lum-scale: 0;
    --noise-primary-channel-hue: 0;
    --noise-primary-channel-hue-scale: 2;
    --noise-primary-channel-sat: 33;
    --noise-primary-channel-sat-scale: 0;
    --noise-primary-channel-lum: 63.5;
    --noise-primary-channel-lum-scale: 0;
    --noise-secondary-note-hue: 0;
    --noise-secondary-note-hue-scale: 2;
    --noise-secondary-note-sat: 33.5;
    --noise-secondary-note-sat-scale: 0;
    --noise-secondary-note-lum: 55;
    --noise-secondary-note-lum-scale: 0;
    --noise-primary-note-hue: 0;
    --noise-primary-note-hue-scale: 2;
    --noise-primary-note-sat: 46.5;
    --noise-primary-note-sat-scale: 0;
    --noise-primary-note-lum: 74;
    --noise-primary-note-lum-scale: 0;
    --mod-secondary-channel-hue: 192;
    --mod-secondary-channel-hue-scale: 1.5;
    --mod-secondary-channel-sat: 88;
    --mod-secondary-channel-sat-scale: 0;
    --mod-secondary-channel-lum: 50;
    --mod-secondary-channel-lum-scale: 0;
    --mod-primary-channel-hue: 192;
    --mod-primary-channel-hue-scale: 1.5;
    --mod-primary-channel-sat: 96;
    --mod-primary-channel-sat-scale: 0;
    --mod-primary-channel-lum: 80;
    --mod-primary-channel-lum-scale: 0;
    --mod-secondary-note-hue: 192;
    --mod-secondary-note-hue-scale: 1.5;
    --mod-secondary-note-sat: 92;
    --mod-secondary-note-sat-scale: 0;
    --mod-secondary-note-lum: 45;
    --mod-secondary-note-lum-scale: 0;
    --mod-primary-note-hue: 192;
    --mod-primary-note-hue-scale: 1.5;
    --mod-primary-note-sat: 96;
    --mod-primary-note-sat-scale: 0;
    --mod-primary-note-lum: 85;
    --mod-primary-note-lum-scale: 0;
}