:root {
    --page-margin: #010a1e;
    --editor-background: #010a1e;
    --hover-preview: #dfe9fe;
    --playhead: #e7f5f6;
    --primary-text: #f0fdff;
    --secondary-text: #c4c7d7;
    --inverted-text: #0f0623;
    --text-selection: #3f0ab4;
    --box-selection-fill: #32afb3;
    --loop-accent: #1719ff;
    --link-accent: #83a6ed;
    --ui-widget-background: #222856;
    --ui-widget-focus: #21417c;
    --pitch-background: #10264a;
    --tonic: #0797ce;
    --fifth-note: #3e2fb5;
    --white-piano-key: #ebf3f4;
    --black-piano-key: #253353;
    --white-piano-key-text: black;
    --black-piano-key-text: white;
    --oscilloscope-line-L: #72dcfc;
    --oscilloscope-line-R: #304eff;
    --mod-title: #1b2fff;
    --use-color-formula: true;
    --track-editor-bg-pitch: #183b65;
    --track-editor-bg-pitch-dim: #1f2c3d;
    --track-editor-bg-noise: #2e196d;
    --track-editor-bg-noise-dim: #212038;
    --track-editor-bg-mod: #066433;
    --track-editor-bg-mod-dim: #152b1f;
    --multiplicative-mod-slider: #1242a4;
    --overwriting-mod-slider: #2218db;
    --indicator-primary: #1698d3;
    --indicator-secondary: #1b478e;
    --select2-opt-group: #312f6d;
    --input-box-outline: #788b96;
    --mute-button-normal: #1d34f2;
    --mute-button-mod: #06bad6;
    --mod-label-primary: #14383f;
    --mod-label-secondary-text: #1d7080;
    --mod-label-primary-text: #b7e9f2;
    --pitch-secondary-channel-hue: 190;
    --pitch-secondary-channel-hue-scale: 2.5;
    --pitch-secondary-channel-sat: 80;
    --pitch-secondary-channel-sat-scale: 0.1;
    --pitch-secondary-channel-lum: 50;
    --pitch-secondary-channel-lum-scale: 0.05;
    --pitch-primary-channel-hue: 190;
    --pitch-primary-channel-hue-scale: 2.5;
    --pitch-primary-channel-sat: 100;
    --pitch-primary-channel-sat-scale: 0.1;
    --pitch-primary-channel-lum: 76.5;
    --pitch-primary-channel-lum-scale: 0.05;
    --pitch-secondary-note-hue: 190;
    --pitch-secondary-note-hue-scale: 2.5;
    --pitch-secondary-note-sat: 90;
    --pitch-secondary-note-sat-scale: 0.1;
    --pitch-secondary-note-lum: 30;
    --pitch-secondary-note-lum-scale: 0.05;
    --pitch-primary-note-hue: 190;
    --pitch-primary-note-hue-scale: 2.5;
    --pitch-primary-note-sat: 100;
    --pitch-primary-note-sat-scale: 0.05;
    --pitch-primary-note-lum: 85;
    --pitch-primary-note-lum-scale: 0.025;
    --noise-secondary-channel-hue: 200;
    --noise-secondary-channel-hue-scale: 2.5;
    --noise-secondary-channel-sat: 25;
    --noise-secondary-channel-sat-scale: 0;
    --noise-secondary-channel-lum: 42;
    --noise-secondary-channel-lum-scale: 0;
    --noise-primary-channel-hue: 200;
    --noise-primary-channel-hue-scale: 2.5;
    --noise-primary-channel-sat: 33;
    --noise-primary-channel-sat-scale: 0;
    --noise-primary-channel-lum: 63.5;
    --noise-primary-channel-lum-scale: 0;
    --noise-secondary-note-hue: 200;
    --noise-secondary-note-hue-scale: 2.5;
    --noise-secondary-note-sat: 33.5;
    --noise-secondary-note-sat-scale: 0;
    --noise-secondary-note-lum: 55;
    --noise-secondary-note-lum-scale: 0;
    --noise-primary-note-hue: 200;
    --noise-primary-note-hue-scale: 2.5;
    --noise-primary-note-sat: 46.5;
    --noise-primary-note-sat-scale: 0;
    --noise-primary-note-lum: 74;
    --noise-primary-note-lum-scale: 0;
    --mod-secondary-channel-hue: 140;
    --mod-secondary-channel-hue-scale: 1.5;
    --mod-secondary-channel-sat: 90;
    --mod-secondary-channel-sat-scale: 0;
    --mod-secondary-channel-lum: 55;
    --mod-secondary-channel-lum-scale: 0;
    --mod-primary-channel-hue: 140;
    --mod-primary-channel-hue-scale: 1.5;
    --mod-primary-channel-sat: 100;
    --mod-primary-channel-sat-scale: 0;
    --mod-primary-channel-lum: 85;
    --mod-primary-channel-lum-scale: 0;
    --mod-secondary-note-hue: 140;
    --mod-secondary-note-hue-scale: 1.5;
    --mod-secondary-note-sat: 95;
    --mod-secondary-note-sat-scale: 0;
    --mod-secondary-note-lum: 50;
    --mod-secondary-note-lum-scale: 0;
    --mod-primary-note-hue: 140;
    --mod-primary-note-hue-scale: 1.5;
    --mod-primary-note-sat: 100;
    --mod-primary-note-sat-scale: 0;
    --mod-primary-note-lum: 90;
    --mod-primary-note-lum-scale: 0;
    --disabled-note-primary: #53527b;
    --disabled-note-secondary: #1c1b30;
}