:root {
    --page-margin: #000;
    --editor-background: #000;
    --hover-preview: #757575;
    --playhead: #fff;
    --primary-text: #fff;
    --secondary-text: #acacac;
    --inverted-text: #290505;
    --text-selection: rgba(155, 155, 155, 0.99);
    --box-selection-fill: #79797970;
    --loop-accent: #646464;
    --link-accent: #707070;
    --ui-widget-background: #353535;
    --ui-widget-focus: #464646;
    --pitch-background: #222121;
    --tonic: #555955;
    --fifth-note: #1a1818;
    --white-piano-key: #a89e9e;
    --black-piano-key: #2d2424;
    --black-piano-key-text: #ffffff;
    --use-color-formula: true;
    --track-editor-bg-pitch: #373737;
    --track-editor-bg-pitch-dim: #131313;
    --track-editor-bg-noise: #484848;
    --track-editor-bg-noise-dim: #131313;
    --track-editor-bg-mod: #373737;
    --track-editor-bg-mod-dim: #131313;
    --multiplicative-mod-slider: #555;
    --overwriting-mod-slider: #464545;
    --indicator-primary: #e0e0e0;
    --indicator-secondary: #404040;
    --select2-opt-group: #3c3b3b;
    --input-box-outline: #757575;
    --mute-button-normal: #8e8d8d;
    --mute-button-mod: #ddd;
    --mod-label-primary: #262526;
    --mod-label-secondary-text: rgb(227, 222, 225);
    --mod-label-primary-text: #b9b9b9;
    --pitch-secondary-channel-hue: 240;
    --pitch-secondary-channel-hue-scale: 228;
    --pitch-secondary-channel-sat: 73.3;
    --pitch-secondary-channel-sat-scale: 0.1;
    --pitch-secondary-channel-lum: 25;
    --pitch-secondary-channel-lum-scale: 0.05;
    --pitch-primary-channel-hue: 240;
    --pitch-primary-channel-hue-scale: 228;
    --pitch-primary-channel-sat: 80;
    --pitch-primary-channel-sat-scale: 0.1;
    --pitch-primary-channel-lum: 60.5;
    --pitch-primary-channel-lum-scale: 0.05;
    --pitch-secondary-note-hue: 240;
    --pitch-secondary-note-hue-scale: 228;
    --pitch-secondary-note-sat: 73.9;
    --pitch-secondary-note-sat-scale: 0.1;
    --pitch-secondary-note-lum: 32;
    --pitch-secondary-note-lum-scale: 0.05;
    --pitch-primary-note-hue: 240;
    --pitch-primary-note-hue-scale: 228;
    --pitch-primary-note-sat: 90;
    --pitch-primary-note-sat-scale: 0.05;
    --pitch-primary-note-lum: 80.6;
    --pitch-primary-note-lum-scale: 0.025;
    --noise-secondary-channel-hue: 160;
    --noise-secondary-channel-hue-scale: 2;
    --noise-secondary-channel-sat: 25;
    --noise-secondary-channel-sat-scale: 0;
    --noise-secondary-channel-lum: 42;
    --noise-secondary-channel-lum-scale: 0;
    --noise-primary-channel-hue: 160;
    --noise-primary-channel-hue-scale: 2;
    --noise-primary-channel-sat: 33;
    --noise-primary-channel-sat-scale: 0;
    --noise-primary-channel-lum: 63.5;
    --noise-primary-channel-lum-scale: 0;
    --noise-secondary-note-hue: 160;
    --noise-secondary-note-hue-scale: 2;
    --noise-secondary-note-sat: 33.5;
    --noise-secondary-note-sat-scale: 0;
    --noise-secondary-note-lum: 55;
    --noise-secondary-note-lum-scale: 0;
    --noise-primary-note-hue: 160;
    --noise-primary-note-hue-scale: 2;
    --noise-primary-note-sat: 46.5;
    --noise-primary-note-sat-scale: 0;
    --noise-primary-note-lum: 74;
    --noise-primary-note-lum-scale: 0;
    --mod-secondary-channel-hue: 62;
    --mod-secondary-channel-hue-scale: 1.5;
    --mod-secondary-channel-sat: 88;
    --mod-secondary-channel-sat-scale: 0;
    --mod-secondary-channel-lum: 30;
    --mod-secondary-channel-lum-scale: 0;
    --mod-primary-channel-hue: 62;
    --mod-primary-channel-hue-scale: 1.5;
    --mod-primary-channel-sat: 96;
    --mod-primary-channel-sat-scale: 0;
    --mod-primary-channel-lum: 80;
    --mod-primary-channel-lum-scale: 0;
    --mod-secondary-note-hue: 62;
    --mod-secondary-note-hue-scale: 1.5;
    --mod-secondary-note-sat: 92;
    --mod-secondary-note-sat-scale: 0;
    --mod-secondary-note-lum: 34;
    --mod-secondary-note-lum-scale: 0;
    --mod-primary-note-hue: 62;
    --mod-primary-note-hue-scale: 1.5;
    --mod-primary-note-sat: 96;
    --mod-primary-note-sat-scale: 0;
    --mod-primary-note-lum: 75;
    --mod-primary-note-lum-scale: 0;
    --disabled-note-primary: #66a;
    --disabled-note-secondary: #447;
}