:root {
    --page-margin: #020514;
    --editor-background: #020514;
    --primary-text: #D4DCE9;
    --secondary-text: #3E87DA;
    --text-selection: #03599bd9;
    --box-selection-fill: hsl(206deg 66% 41% / 85%);
    --loop-accent: #639BD6;
    --link-accent: #A8C6E8;
    --ui-widget-background: #1e2940;
    --ui-widget-focus: #324b81;
    --pitch-background: #223849;
    --tonic: #33536c;
    --fifth-note: hsl(206deg 36% 16%);
    --white-piano-key: #c1bfe9;
    --black-piano-key: #454354;
    --track-editor-bg-pitch: #25568d80;
    --track-editor-bg-pitch-dim: #10253c80;
    --track-editor-bg-noise: #25568d80;
    --track-editor-bg-noise-dim: #10253c80;
    --track-editor-bg-mod: #25568d80;
    --track-editor-bg-mod-dim: #10253c80;
    --multiplicative-mod-slider: #0476cd;
    --overwriting-mod-slider: #035899;
    --indicator-primary: #57a1f4;
    --indicator-secondary: #2e5684;
    --select2-opt-group: #24355c;
    --input-box-outline: #141e34;
    --mute-button-normal: #6ebffc;
    --mute-button-mod: #0a92fa;
    --pitch1-secondary-channel: #47425c;
    --pitch1-primary-channel: #918bac;
    --pitch1-secondary-note: #6b6489;
    --pitch1-primary-note: #a8a3bf;
    --pitch2-secondary-channel: #626493;
    --pitch2-primary-channel: #bdbed3;
    --pitch2-secondary-note: #626493;
    --pitch2-primary-note: #bdbed3;
    --pitch3-secondary-channel: #6e89b4;
    --pitch3-primary-channel: #d4dce9;
    --pitch3-secondary-note: #6e89b4;
    --pitch3-primary-note: #d4dce9;
    --pitch4-secondary-channel: #4c77a9;
    --pitch4-primary-channel: #a8c6e8;
    --pitch4-secondary-note: #4c77a9;
    --pitch4-primary-note: #a8c6e8;
    --pitch5-secondary-channel: #314e6d;
    --pitch5-primary-channel: #639bd6;
    --pitch5-secondary-note: #46698f;
    --pitch5-primary-note: #639bd6;
    --pitch6-secondary-channel: #143d6b;
    --pitch6-primary-channel: #3e87da;
    --pitch6-secondary-note: #143d6b;
    --pitch6-primary-note: #3e87da;
    --pitch7-secondary-channel: #314e6d;
    --pitch7-primary-channel: #639bd6;
    --pitch7-secondary-note: #314e6d;
    --pitch7-primary-note: #639bd6;
    --pitch8-secondary-channel: #4c77a9;
    --pitch8-primary-channel: #a8c6e8;
    --pitch8-secondary-note: #4c77a9;
    --pitch8-primary-note: #a8c6e8;
    --pitch9-secondary-channel: #6e89b4;
    --pitch9-primary-channel: #d4dce9;
    --pitch9-secondary-note: #6e89b4;
    --pitch9-primary-note: #d4dce9;
    --pitch10-secondary-channel: #626493;
    --pitch10-primary-channel: #bdbed3;
    --pitch10-secondary-note: #626493;
    --pitch10-primary-note: #bdbed3;
    --noise1-secondary-channel: #4b4a55;
    --noise1-primary-channel: #9795a3;
    --noise1-secondary-note: #4b4a55;
    --noise1-primary-note: #9795a3;
    --noise2-secondary-channel: #858e9d;
    --noise2-primary-channel: #d7dce5;
    --noise2-secondary-note: #858e9d;
    --noise2-primary-note: #d7dce5;
    --noise3-secondary-channel: #394e65;
    --noise3-primary-channel: #809bb7;
    --noise3-secondary-note: #394e65;
    --noise3-primary-note: #809bb7;
    --noise4-secondary-channel: #37577b;
    --noise4-primary-channel: #6189b8;
    --noise4-secondary-note: #37577b;
    --noise4-primary-note: #6189b8;
    --noise5-secondary-channel: #223849;
    --noise5-primary-channel: #5588af;
    --noise5-secondary-note: #223849;
    --noise5-primary-note: #5588af;
    --mod1-secondary-channel: #3e336c;
    --mod1-primary-channel: #6d60a4;
    --mod1-secondary-note: #3e336c;
    --mod1-primary-note: #6d60a4;
    --mod2-secondary-channel: #716791;
    --mod2-primary-channel: #bdbed3;
    --mod2-secondary-note: #716791;
    --mod2-primary-note: #bdbed3;
    --mod3-secondary-channel: #6b91bd;
    --mod3-primary-channel: #4b8fdd;
    --mod3-secondary-note: #597ca7;
    --mod3-primary-note: #7eade3;
    --mod4-secondary-channel: #14559f;
    --mod4-primary-channel: #3386e6;
    --mod4-secondary-note: #14559f;
    --mod4-primary-note: #3386e6;
    --mod-label-primary: #1e2940;
    --mod-label-secondary-text: #748ebe;
    --mod-label-primary-text: white;
    --disabled-note-primary: #828282;
    --disabled-note-secondary: #4f4f4f;
}