:root {
    --page-margin: #120807;
    --editor-background: #120807;
    --hover-preview: #e79a82;
    --playhead: #e79a82;
    --primary-text: #decdbf;
    --secondary-text: #fa99bb;
    --text-selection: #990036;
    --loop-accent: #f6377a;
    --link-accent: #f6377a;
    --ui-widget-background: #24160f;
    --ui-widget-focus: #362217;
    --pitch-background: #1e1106;
    --tonic: #382414;
    --fifth-note: #41240c;
    --white-piano-key: #e1c5b7;
    --black-piano-key: #482c1e;
    --white-piano-key-text: black;
    --black-piano-key-text: white;
    --track-editor-bg-pitch: #4d2a19;
    --track-editor-bg-pitch-dim: #27150c;
    --track-editor-bg-noise: #4d2a19;
    --track-editor-bg-noise-dim: #27150c;
    --track-editor-bg-mod: #4d2a19;
    --track-editor-bg-mod-dim: #27150c;
    --multiplicative-mod-slider: #decdbf;
    --overwriting-mod-slider: #decdbf;
    --indicator-primary: #decdbf;
    --indicator-secondary: #362217;
    --select2-opt-group: #24160f;
    --input-box-outline: #24160f;
    --mute-button-normal: #ff66a1;
    --mute-button-mod: #e61968;
    --pitch1-secondary-channel: #680029;
    --pitch1-primary-channel: #cc0052;
    --pitch1-secondary-note: #660029;
    --pitch1-primary-note: #cc0052;
    --pitch2-secondary-channel: #7e1b43;
    --pitch2-primary-channel: #d32e71;
    --pitch2-secondary-note: #7e1b43;
    --pitch2-primary-note: #d32e71;
    --pitch3-secondary-channel: #aa275e;
    --pitch3-primary-channel: #da5d91;
    --pitch3-secondary-note: #aa275e;
    --pitch3-primary-note: #da5d91;
    --pitch4-secondary-channel: #cc3878;
    --pitch4-primary-channel: #e18bb0;
    --pitch4-secondary-note: #cc3878;
    --pitch4-primary-note: #e18bb0;
    --pitch5-secondary-channel: #d06c9b;
    --pitch5-primary-channel: #e9bad0;
    --pitch5-secondary-note: #d06c9b;
    --pitch5-primary-note: #e9bad0;
    --pitch6-secondary-channel: #c9acc5;
    --pitch6-primary-channel: #f0e8ef;
    --pitch6-secondary-note: #c9acc5;
    --pitch6-primary-note: #f0e8ef;
    --pitch7-secondary-channel: #d06c9b;
    --pitch7-primary-channel: #e9bad0;
    --pitch7-secondary-note: #d06c9b;
    --pitch7-primary-note: #e9bad0;
    --pitch8-secondary-channel: #cc3878;
    --pitch8-primary-channel: #e18bb0;
    --pitch8-secondary-note: #cc3878;
    --pitch8-primary-note: #e18bb0;
    --pitch9-secondary-channel: #aa275e;
    --pitch9-primary-channel: #da5d91;
    --pitch9-secondary-note: #aa275e;
    --pitch9-primary-note: #da5d91;
    --pitch10-secondary-channel: #7e1b43;
    --pitch10-primary-channel: #d32e71;
    --pitch10-secondary-note: #7e1b43;
    --pitch10-primary-note: #d32e71;
    --noise1-secondary-channel: #683a37;
    --noise1-primary-channel: #A85F5A;
    --noise1-secondary-note: #683a37;
    --noise1-primary-note: #A85F5A;
    --noise2-secondary-channel: #7c4a41;
    --noise2-primary-channel: #B47A70;
    --noise2-secondary-note: #7c4a41;
    --noise2-primary-note: #B47A70;
    --noise3-secondary-channel: #935f4d;
    --noise3-primary-channel: #c09587;
    --noise3-secondary-note: #935f4d;
    --noise3-primary-note: #C09587;
    --noise4-secondary-channel: #aa795a;
    --noise4-primary-channel: #cdb09d;
    --noise4-secondary-note: #aa795a;
    --noise4-primary-note: #CDAF9D;
    --noise5-secondary-channel: #bb987c;
    --noise5-primary-channel: #decdbf;
    --noise5-secondary-note: #bb987c;
    --noise5-primary-note: #decdbf;
    --mod1-secondary-channel: #6ca784;
    --mod1-primary-channel: #accdb9;
    --mod1-secondary-note: #6ca784;
    --mod1-primary-note: #accdb9;
    --mod2-secondary-channel: #7daa9f;
    --mod2-primary-channel: #bbd3cd;
    --mod2-secondary-note: #7daa9f;
    --mod2-primary-note: #bbd3cd;
    --mod3-secondary-channel: #70a3a9;
    --mod3-primary-channel: #afcccf;
    --mod3-secondary-note: #70a3a9;
    --mod3-primary-note: #afcccf;
    --mod4-secondary-channel: #5698b8;
    --mod4-primary-channel: #9ec3d6;
    --mod4-secondary-note: #5698b8;
    --mod4-primary-note: #9ec3d6;
    --mod-label-primary: #24160f;
    --mod-label-secondary-text: #E5AFC2;
    --mod-label-primary-text: #decdbf;
    --disabled-note-primary: #bababa;
    --disabled-note-secondary: #878787;
}