:root {
    --page-margin: #000;
    --editor-background: #060606;
    --hover-preview: #fff;
    --playhead: rgb(0, 242, 255);
    --primary-text: #00fff5;
    --secondary-text: #a82f2f;
    --inverted-text: #000;
    --text-selection: rgba(98, 46, 164, .99);
    --box-selection-fill: #b74a4a;
    --loop-accent: #7744FF;
    --link-accent: #ff00e1;
    --ui-widget-background: #484848;
    --ui-widget-focus: #3e3e3e;
    --pitch-background: #0a2d44;
    --tonic: #9150ff;
    --fifth-note: #900;
    --white-piano-key: #353535;
    --black-piano-key: #fff;
    --white-piano-key-text: #fff;
    --black-piano-key-text: #000;
    --track-editor-bg-pitch: #424242;
    --track-editor-bg-pitch-dim: #000;
    --track-editor-bg-noise: #424242;
    --track-editor-bg-noise-dim: #000;
    --track-editor-bg-mod: #3c3c3c;
    --track-editor-bg-mod-dim: #000;
    --multiplicative-mod-slider: #fff;
    --overwriting-mod-slider: #9d9d9d;
    --indicator-primary: #f00;
    --indicator-secondary: #919191;
    --select2-opt-group: #5d576f;
    --input-box-outline: #626262;
    --mute-button-normal: #9a00ff;
    --mute-button-mod: #00fff7;
    --mod-label-primary: #2b2b2b;
    --pitch-channel-limit: 4;
    --noise-channel-limit: 2;

    --pitch1-secondary-channel: #c13cbf;
    --pitch1-primary-channel: #f75dff;
    --pitch1-secondary-note: #b930a2;
    --pitch1-primary-note: #fca5ff;
    --pitch2-secondary-channel: #800000;
    --pitch2-primary-channel: #f00;
    --pitch2-secondary-note: #8c2121;
    --pitch2-primary-note: #ff5252;
    --pitch3-secondary-channel: #004bb3;
    --pitch3-primary-channel: #1792ff;
    --pitch3-secondary-note: #005cb3;
    --pitch3-primary-note: #00ffe9;
    --pitch4-secondary-channel: #a48800;
    --pitch4-primary-channel: #fb0;
    --pitch4-secondary-note: #9c4100;
    --pitch4-primary-note: #ffd84e;
    --noise1-secondary-channel: #868686;
    --noise1-primary-channel: #fff;
    --noise1-secondary-note: #868686;
    --noise1-primary-note: #fff;
    --noise2-secondary-channel: #805300;
    --noise2-primary-channel: #ff8c00;
    --noise2-secondary-note: #6a3500;
    --noise2-primary-note: #a85400;
    --mod1-secondary-channel: #6c0000;
    --mod1-primary-channel: #ff3e3e;
    --mod1-secondary-note: #6c0000;
    --mod1-primary-note: #ff3e3e;
    --mod2-secondary-channel: #d25a00;
    --mod2-primary-channel: #fdff00;
    --mod2-secondary-note: #d25a00;
    --mod2-primary-note: #fdff00;
    --mod3-secondary-channel: #046000;
    --mod3-primary-channel: #23ff1b;
    --mod3-secondary-note: #046000;
    --mod3-primary-note: #23ff1b;
    --mod4-secondary-channel: #3b2bae;
    --mod4-primary-channel: #0c79ff;
    --mod4-secondary-note: #3b2bae;
    --mod4-primary-note: #0c79ff;
    --disabled-note-secondary: #696969;
}