:root {
    --page-margin: #fff5f5;
    --editor-background: #fff5f5;
    --hover-preview: #0e8bf1;
    --playhead: 000;
    --primary-text: #0e8bf1;
    --secondary-text: #f10e0e;
    --inverted-text: white;
    --text-selection: #ff4444fc;
    --box-selection-fill: #ff00004d;
    --loop-accent: #9a75ff;
    --link-accent: #ff7070;
    --ui-widget-background: #bdc9e5;
    --ui-widget-focus: #a3b7e5;
    --pitch-background: #d0c7db;
    --tonic: #bed3e4;
    --fifth-note: #e7c6c6;
    --white-piano-key: #cdcdcd;
    --black-piano-key: #232323;
    --track-editor-bg-pitch: #e5e1ea;
    --track-editor-bg-pitch-dim: #cbc4d4;
    --track-editor-bg-noise: #e0ddee;
    --track-editor-bg-noise-dim: #c1bade;
    --track-editor-bg-mod: #d8e6f3;
    --track-editor-bg-mod-dim: #b1cce7;
    --multiplicative-mod-slider: #8097cb;
    --overwriting-mod-slider: #8097cb;
    --indicator-primary: #FF2A2A;
    --indicator-secondary: #92a6d3;
    --select2-opt-group: #b6c4e2;
    --input-box-outline: #bdc9e5;
    --mute-button-normal: #66baff;
    --mute-button-mod: #1a98ff;
    --pitch1-secondary-channel: #273c90;
    --pitch1-primary-channel: #476BFF;
    --pitch1-secondary-note: #273c90;
    --pitch1-primary-note: #476BFF;
    --pitch2-secondary-channel: #3a3898;
    --pitch2-primary-channel: #625FFB;
    --pitch2-secondary-note: #3a3898;
    --pitch2-primary-note: #625FFB;
    --pitch3-secondary-channel: #542780;
    --pitch3-primary-channel: #9C49EC;
    --pitch3-secondary-note: #542780;
    --pitch3-primary-note: #9C49EC;
    --pitch4-secondary-channel: #84225d;
    --pitch4-primary-channel: #fd3fb1;
    --pitch4-secondary-note: #84225d;
    --pitch4-primary-note: #fd3fb1;
    --pitch5-secondary-channel: #8d2323;
    --pitch5-primary-channel: #ff3f3f;
    --pitch5-secondary-note: #8d2323;
    --pitch5-primary-note: #ff3f3f;
    --pitch6-secondary-channel: #84225d;
    --pitch6-primary-channel: #fd3fb1;
    --pitch6-secondary-note: #84225d;
    --pitch6-primary-note: #fd3fb1;
    --pitch7-secondary-channel: #542780;
    --pitch7-primary-channel: #9C49EC;
    --pitch7-secondary-note: #542780;
    --pitch7-primary-note: #9C49EC;
    --pitch8-secondary-channel: #3a3898;
    --pitch8-primary-channel: #625FFB;
    --pitch8-secondary-note: #3a3898;
    --pitch8-primary-note: #625FFB;
    --pitch9-secondary-channel: #273c90;
    --pitch9-primary-channel: #476BFF;
    --pitch9-secondary-note: #273c90;
    --pitch9-primary-note: #476BFF;
    --pitch10-secondary-channel: #165a93;
    --pitch10-primary-channel: #299EFF;
    --pitch10-secondary-note: #165a93;
    --pitch10-primary-note: #299EFF;
    --noise1-secondary-channel: #336bdb;
    --noise1-primary-channel: #4281FF;
    --noise1-secondary-note: #336bdb;
    --noise1-primary-note: #4281FF;
    --noise2-secondary-channel: #5e38dc;
    --noise2-primary-channel: #7347FF;
    --noise2-secondary-note: #5e38dc;
    --noise2-primary-note: #7347FF;
    --noise3-secondary-channel: #7d3097;
    --noise3-primary-channel: #9F3CBF;
    --noise3-secondary-note: #7d3097;
    --noise3-primary-note: #9F3CBF;
    --noise4-secondary-channel: #ad2559;
    --noise4-primary-channel: #D3326F;
    --noise4-secondary-note: #ad2559;
    --noise4-primary-note: #D3326F;
    --noise5-secondary-channel: #d02525;
    --noise5-primary-channel: #FF2A2A;
    --noise5-secondary-note: #d02525;
    --noise5-primary-note: #FF2A2A;
    --mod1-secondary-channel: #35415a;
    --mod1-primary-channel: #47587a;
    --mod1-secondary-note: #35415a;
    --mod1-primary-note: #47587a;
    --mod2-secondary-channel: #5a5374;
    --mod2-primary-channel: #716791;
    --mod2-secondary-note: #5a5374;
    --mod2-primary-note: #716791;
    --mod3-secondary-channel: #53385c;
    --mod3-primary-channel: #6f4c7b;
    --mod3-secondary-note: #53385c;
    --mod3-primary-note: #6f4c7b;
    --mod4-secondary-channel: #7e4e60;
    --mod4-primary-channel: #9e6279;
    --mod4-secondary-note: #7e4e60;
    --mod4-primary-note: #9e6279;
    --mod-label-primary: #d0c7db;
    --mod-label-secondary-text: #cb3434;
    --disabled-note-primary: #616161;
    --disabled-note-secondary: #474747;
}

.promptContainerBG::before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
}