:root {
    --page-margin: #010003;
    --editor-background: #010003;
    --text-selection: rgb(147 195 0);
    --box-selection-fill: rgb(145 174 73 / 49%);
    --loop-accent: #BCDE2C;
    --link-accent: #edff9f;
    --ui-widget-background: #261e2e;
    --ui-widget-focus: #322042;
    --pitch-background: #141c15;
    --tonic: #282c21;
    --fifth-note: #18221a;
    --white-piano-key: #e3e3e3;
    --black-piano-key: #2d2d2d;
    --track-editor-bg-pitch: #38293e;
    --track-editor-bg-pitch-dim: #251c29;
    --track-editor-bg-noise: #2c304c;
    --track-editor-bg-noise-dim: #191b2b;
    --track-editor-bg-mod: #311b32;
    --track-editor-bg-mod-dim: #1d101e;
    --multiplicative-mod-slider: #977da9;
    --overwriting-mod-slider: #798FA7;
    --indicator-primary: #aae9ff;
    --indicator-secondary: #253e46;
    --select2-opt-group: #110d15;
    --input-box-outline: #110d15;
    --mute-button-normal: #8f5ad1;
    --mute-button-mod: #482574;
    --pitch1-secondary-channel: #6b7f19;
    --pitch1-primary-channel: #BCDE2C;
    --pitch1-secondary-note: #6b7f19;
    --pitch1-primary-note: #BCDE2C;
    --pitch2-secondary-channel: #497a31;
    --pitch2-primary-channel: #7BD152;
    --pitch2-secondary-note: #497a31;
    --pitch2-primary-note: #7BD152;
    --pitch3-secondary-channel: #286b40;
    --pitch3-primary-channel: #45BE71;
    --pitch3-secondary-note: #286b40;
    --pitch3-primary-note: #45BE71;
    --pitch4-secondary-channel: #125140;
    --pitch4-primary-channel: #25A884;
    --pitch4-secondary-note: #125140;
    --pitch4-primary-note: #25A884;
    --pitch5-secondary-channel: #114c49;
    --pitch5-primary-channel: #21908C;
    --pitch5-secondary-note: #114c49;
    --pitch5-primary-note: #21908C;
    --pitch6-secondary-channel: #143843;
    --pitch6-primary-channel: #2B788E;
    --pitch6-secondary-note: #143843;
    --pitch6-primary-note: #2B788E;
    --pitch7-secondary-channel: #1d354e;
    --pitch7-primary-channel: #355F8D;
    --pitch7-secondary-note: #1a2f46;
    --pitch7-primary-note: #355F8D;
    --pitch8-secondary-channel: #2c2e5a;
    --pitch8-primary-channel: #414486;
    --pitch8-secondary-note: #1e1f3d;
    --pitch8-primary-note: #414486;
    --pitch9-secondary-channel: #3c1f5e;
    --pitch9-primary-channel: #5e3b89;
    --pitch9-secondary-note: #25133b;
    --pitch9-primary-note: #5e3b89;
    --pitch10-secondary-channel: #510264;
    --pitch10-primary-channel: #720d8a;
    --pitch10-secondary-note: #440154;
    --pitch10-primary-note: #720d8a;
    --noise1-secondary-channel: #BCDE2C;
    --noise1-primary-channel: #edff9f;
    --noise1-secondary-note: #BCDE2C;
    --noise1-primary-note: #edff9f;
    --noise2-secondary-channel: #45BE71;
    --noise2-primary-channel: #89ffb4;
    --noise2-secondary-note: #45BE71;
    --noise2-primary-note: #89ffb4;
    --noise3-secondary-channel: #21908C;
    --noise3-primary-channel: #72fffa;
    --noise3-secondary-note: #21908C;
    --noise3-primary-note: #72fffa;
    --noise4-secondary-channel: #355F8D;
    --noise4-primary-channel: #7cb6f5;
    --noise4-secondary-note: #355F8D;
    --noise4-primary-note: #7cb6f5;
    --noise5-secondary-channel: #482574;
    --noise5-primary-channel: #8f5ad1;
    --noise5-secondary-note: #48257A;
    --noise5-primary-note: #8f5ad1;
    --mod1-secondary-channel: #815a16;
    --mod1-primary-channel: #F5AB29;
    --mod1-secondary-note: #815a16;
    --mod1-primary-note: #F5AB29;
    --mod2-secondary-channel: #4d341a;
    --mod2-primary-channel: #C98540;
    --mod2-secondary-note: #4d341a;
    --mod2-primary-note: #C98540;
    --mod3-secondary-channel: #643734;
    --mod3-primary-channel: #A75D58;
    --mod3-secondary-note: #643734;
    --mod3-primary-note: #A75D58;
    --mod4-secondary-channel: #461430;
    --mod4-primary-channel: #812359;
    --mod4-secondary-note: #3f112b;
    --mod4-primary-note: #812359;
    --mod-label-primary: #282828;
    --mod-label-secondary-text: #707070;
    --mod-label-primary-text: white;
    --disabled-note-primary: #5d5d5d;
    --disabled-note-secondary: #292929;
}