:root {
    /*--mod-title: #CCCCCC;*/
    --loop-accent: #CCCCCC;
    --playhead: #CCCCCC;
    /*--primary-text: #CCCCCC;*/
    /*--hover-preview: #CCCCCC;*/
    --link-accent: #FF8EC5;
    --indicator-primary: #FF8EC5;
    /*--indicator-primary: #CCCCCC;*/
    /*--indicator-secondary: #E856B2;*/
    --white-piano-key: #CCCCCC;
    /*--black-piano-key: #444;*/
    --text-selection: #932253;
    --oscilloscope-line-L: #CCCCCC;
    --oscilloscope-line-R: #932253;
    --pitch-channel-limit: 8;
    --pitch1-secondary-channel: #A83030;
    --pitch1-primary-channel: #FF7C7C;
    --pitch1-secondary-note: #B51532;
    --pitch1-primary-note: #FFA3A3;

    --pitch2-secondary-channel: #C75000;
    --pitch2-primary-channel: #FF9752;
    --pitch2-secondary-note: #FF771C;
    --pitch2-primary-note: #FFCDAB;

    --pitch3-secondary-channel: #A1A100;
    --pitch3-primary-channel: #FFFF25;
    --pitch3-secondary-note: #C7C700;
    --pitch3-primary-note: #FFFF92;

    --pitch4-secondary-channel: #139620;
    --pitch4-primary-channel: #25ff3a;
    --pitch4-secondary-note: #21FF33;
    --pitch4-primary-note: #C0FFB5;

    --pitch5-secondary-channel: #0099A1;
    --pitch5-primary-channel: #25F3FF;
    --pitch5-secondary-note: #00BDC7;
    --pitch5-primary-note: #92F9FF;

    --pitch6-secondary-channel: #58599E;
    --pitch6-primary-channel: #5EA3FF;
    --pitch6-secondary-note: #183AC7;
    --pitch6-primary-note: #9EC8FF;

    --pitch7-secondary-channel: #6038a5;
    --pitch7-primary-channel: #C760FF;
    --pitch7-secondary-note: #5433A0;
    --pitch7-primary-note: #D99EFF;

    --pitch8-secondary-channel: #932253;
    --pitch8-primary-channel: #FF60A5;
    --pitch8-secondary-note: #8E1C4E;
    --pitch8-primary-note: #FF8EC5;

    /*--track-editor-bg-mod: #632D45;*/
    /*--track-editor-bg-mod-dim: #3F1D2C;*/
}