:root {
    --page-margin: #0e031a;
    --editor-background: #0e031a;
    --hover-preview: #e5ffea;
    --playhead: rgba(255, 255, 255, 0.9);
    --primary-text: #f0e0ff;
    --secondary-text: #706087;
    --box-selection-fill: #225835;
    --loop-accent: #8f00fb;
    --link-accent: #82dd5d;
    --ui-widget-background: #303c66;
    --ui-widget-focus: #62559b;
    --pitch-background: #293b52;
    --tonic: #5b46ad;
    --fifth-note: #42604d;
    --white-piano-key: #f6e8ff;
    --black-piano-key: #5a4972;
    --use-color-formula: true;
    --track-editor-bg-pitch: #392a46;
    --track-editor-bg-pitch-dim: #1c1d28;
    --track-editor-bg-noise: #403150;
    --track-editor-bg-noise-dim: #161313;
    --track-editor-bg-mod: #253c25;
    --track-editor-bg-mod-dim: #0c1811;
    --multiplicative-mod-slider: #606c9f;
    --overwriting-mod-slider: #6850b5;
    --indicator-primary: #9c64f7;
    --indicator-secondary: #393e4f;
    --select2-opt-group: #5d576f;
    --input-box-outline: #403150;
    --mute-button-normal: #82dd5d;
    --mute-button-mod: #945de5;
    --mod-label-primary: #312840;
    --mod-label-secondary-text: rgb(88 70 104);
    --mod-label-primary-text: #82dd5d;
    --pitch-secondary-channel-hue: 64;
    --pitch-secondary-channel-hue-scale: 6.1;
    --pitch-secondary-channel-sat: 63.3;
    --pitch-secondary-channel-sat-scale: 0.1;
    --pitch-secondary-channel-lum: 40;
    --pitch-secondary-channel-lum-scale: 0.05;
    --pitch-primary-channel-hue: 64;
    --pitch-primary-channel-hue-scale: 6.1;
    --pitch-primary-channel-sat: 90;
    --pitch-primary-channel-sat-scale: 0.1;
    --pitch-primary-channel-lum: 67.5;
    --pitch-primary-channel-lum-scale: 0.05;
    --pitch-secondary-note-hue: 32;
    --pitch-secondary-note-hue-scale: 6.1;
    --pitch-secondary-note-sat: 87.9;
    --pitch-secondary-note-sat-scale: 0.1;
    --pitch-secondary-note-lum: 25;
    --pitch-secondary-note-lum-scale: 0.05;
    --pitch-primary-note-hue: 64;
    --pitch-primary-note-hue-scale: 6.1;
    --pitch-primary-note-sat: 90;
    --pitch-primary-note-sat-scale: 0.05;
    --pitch-primary-note-lum: 85.6;
    --pitch-primary-note-lum-scale: 0.025;
    --noise-secondary-channel-hue: 192;
    --noise-secondary-channel-hue-scale: 2;
    --noise-secondary-channel-sat: 45;
    --noise-secondary-channel-sat-scale: 0;
    --noise-secondary-channel-lum: 32;
    --noise-secondary-channel-lum-scale: 0;
    --noise-primary-channel-hue: 192;
    --noise-primary-channel-hue-scale: 2;
    --noise-primary-channel-sat: 33;
    --noise-primary-channel-sat-scale: 0;
    --noise-primary-channel-lum: 43.5;
    --noise-primary-channel-lum-scale: 0;
    --noise-secondary-note-hue: 160;
    --noise-secondary-note-hue-scale: 2;
    --noise-secondary-note-sat: 33.5;
    --noise-secondary-note-sat-scale: 0;
    --noise-secondary-note-lum: 45;
    --noise-secondary-note-lum-scale: 0;
    --noise-primary-note-hue: 192;
    --noise-primary-note-hue-scale: 2;
    --noise-primary-note-sat: 46.5;
    --noise-primary-note-sat-scale: 0;
    --noise-primary-note-lum: 74;
    --noise-primary-note-lum-scale: 0;
    --mod-secondary-channel-hue: 132;
    --mod-secondary-channel-hue-scale: 1.5;
    --mod-secondary-channel-sat: 88;
    --mod-secondary-channel-sat-scale: 0;
    --mod-secondary-channel-lum: 50;
    --mod-secondary-channel-lum-scale: 0;
    --mod-primary-channel-hue: 132;
    --mod-primary-channel-hue-scale: 1.5;
    --mod-primary-channel-sat: 96;
    --mod-primary-channel-sat-scale: 0;
    --mod-primary-channel-lum: 80;
    --mod-primary-channel-lum-scale: 0;
    --mod-secondary-note-hue: 100;
    --mod-secondary-note-hue-scale: 1.5;
    --mod-secondary-note-sat: 92;
    --mod-secondary-note-sat-scale: 0;
    --mod-secondary-note-lum: 45;
    --mod-secondary-note-lum-scale: 0;
    --mod-primary-note-hue: 132;
    --mod-primary-note-hue-scale: 1.5;
    --mod-primary-note-sat: 96;
    --mod-primary-note-sat-scale: 0;
    --mod-primary-note-lum: 85;
    --mod-primary-note-lum-scale: 0;
    --disabled-note-primary: #91879f;
    --disabled-note-secondary: #6a677a;
}