:root {
    --page-margin: #050000;
    --editor-background: #050000;
    --pitch-channel-limit: 6;
    --noise-channel-limit: 3;
}

* {
    cursor: url("theme_resources/wackybox_cursor.png"), auto !important;
}